<%= stylesheet_link_tag 'offers.css', media: 'all' %>

<div class="influencer-search-result-box">
  <% @messages.each do |message|%>
      <%= link_to "#{offers_path(offer_id: message.campaign_id, search_key: params[:search_key])}#offer-#{message.campaign_id}", class: 'display-block' do %>
      <%= render partial: 'search_item', locals: {offer: message.campaign, message: message} %>
      <% end %>
  <% end %>
</div>
