<% title 'sign in' %>

<div class="wrapper-content non-home-page-wrapper sticky-footer-wrapper sign-in-form-container">
  <%= render partial: 'shared/flash_messages', flash: flash %>
  <%= render 'shared/sign_in_form' %>
</div>
