<div class="wrapper-content non-home-page-wrapper sticky-footer-wrapper">
  <h2>Change your password</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), data: {:'parsley-validate' => ''},html: {method: :put}) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="input_container">
        <div class="label_l">New password</div>
        <input class="login_input" id="user_password" type="password" name="user[password]" autocomplete="off" autofocus="autofocus" data-parsley-required="true" data-parsley-trigger="change">
      </div>
      <div class="input_container">
        <div class="label_l">Confirm new password</div>
        <input class="login_input" id="user_password_confirmation" type="password" name="user[password_confirmation]" autocomplete="off" data-parsley-required="true" data-parsley-trigger="change">
      </div>

      <div class="actions">
        <button class="btn btn-modal-submit" type="submit">SUBMIT</button>
      </div>
  <% end %>
</div>

