<% title 'Password Reset' %>

<div class="wrapper-content non-home-page-wrapper sticky-footer-wrapper" id="password-reset-container">
  <h2>Forgot your password?</h2>
  <%= render partial: 'shared/flash_messages', flash: flash %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), data: {:'parsley-validate' => ''}, html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="input_container">
        <div class="label_l">Email</div>
        <input data-parsley-id="6021" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[email]" id="user_email" type="text">
        <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
      </div>

      <div class="actions">
        <button class="btn btn-modal-submit" type="submit">SUBMIT</button>
      </div>
  <% end %>
</div>
