<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="new-modal-body__aside">
  <a href="#"><%= image_tag('logo_white.svg', :class => 'img-responsive login-modal-logo', :alt => 'logo') %></a>
  <div class="login-modal-aside-description">
    Joining Brand Reach puts you in front of influencers from top industries that are searching to connect with brands like you.
  </div>
  <button area-label="Close" class="close new-modal-close display-none" id="new-modal-close-responsive" data-dismiss="modal" type="button">&times;</button>
</div>

<div class="new-modal-body__content">
  <button area-label="Close" class="close new-modal-close" id="new-modal-close-button" data-dismiss="modal" type="button">&times;</button>
  <div class="brand-login-modal-content-description">
    <h4>FOR BRANDS</h4>

    <ul class="login-sign-up-ul" id="brand_login_sign_up">
      <li class="display-inline active "><a data-toggle="tab" href="#brand_login">Login</a></li> /
      <li class="display-inline"><a data-toggle="tab" href="#brand_sign_up">Sign Up</a></li>
    </ul>

    <div id="brand_login" class="tab-pane fade-out active">
      <% if params[:controller] == 'public' %>
          <div id="sign-in-validation-error">
          </div>
      <% end %>
      <form class="show-spinner-on-submit" method="post" accept-charset="UTF-8" action="/users/sign_in" data-remote="<%= params[:controller] == 'public' %>" data-parsley-validate="">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="input_container">
          <input data-parsley-id="6021" class="new-modal-input" placeholder="Email" data-parsley-type="email" data-parsley-required="true" data-parsley-error-message="Email is required" data-parsley-trigger="change" name="user[email]" id="user_email" type="text">
          <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
        </div>

        <div class="input_container">
          <input data-parsley-id="6194" class="new-modal-input" placeholder="Password" data-parsley-required="true" data-parsley-error-message="Password is required" data-parsley-trigger="change" name="user[password]" id="user_password" type="password">
          <ul id="parsley-id-6194" class="parsley-errors-list"></ul>
        </div>

        <button class="btn-modal" type="submit">
          Login
        </button>

        <%= link_to 'Forgot password?', '#forgotpassword', { class: 'forgot-password-link', data: {toggle: 'modal', dismiss: 'modal'} } %>
      </form>

      </br>

      <div>Are you an Influencer, please login <a href="#">here</a>.</div>
    </div>


    <div id="brand_sign_up" class="tab-pane fade-out">
      <div class="row" id="brand-signup">
        <div class="col-md-12">

          <div id="validation-error" class="text-danger"></div>
          <div id="success-message" class="text-success"></div>
          </br>
          <form class="show-spinner-on-submit" id="ajax-signup" method="post" accept-charset="UTF-8" action="/users" data-remote="true" data-parsley-validate="">

            <div class="input_container">
              <input data-parsley-id="6021" class="new-modal-input" placeholder="First Name" data-parsley-required="true" data-parsley-trigger="change" name="user[first_name]" id="user_email" type="text">
              <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
            </div>

            <div class="input_container">
              <input data-parsley-id="6021" class="new-modal-input" placeholder="Last Name" data-parsley-required="true" data-parsley-trigger="change" name="user[last_name]" id="user_email" type="text">
              <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
            </div>

            <div class="input_container">
              <input data-parsley-id="6021" class="new-modal-input" placeholder="Email" data-parsley-required="true" data-parsley-type="email" data-parsley-trigger="change" name="user[email]" id="user_email" type="text">
              <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
            </div>

            <div class="input_container">
              <input data-parsley-id="6021" data-parsley-pattern="(^[\+]?[0-9]+[-]?[0-9]+[-]?[0-9]+$)" class="new-modal-input" placeholder="Phone" data-parsley-required="true" data-parsley-trigger="change" name="user[phone]" id="user_phone" type="text">
              <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
            </div>
            <div class="input_container">
              <input data-parsley-id="6194" class="new-modal-input" placeholder="Company Name" data-parsley-required="true" data-parsley-trigger="change" name="user[company_name]" id="user_company_name" type="text">
              <ul id="parsley-id-6194" class="parsley-errors-list"></ul>
            </div>

            <button class="btn-modal" type="submit">
              Sign Up
            </button>
          </form>

          </br>

          <div>Are you an Influencer, please Sign up <a href="#">here</a>.</div>
        </div>
      </div>
    </div>

  </div>

</div>

