
<div class="footer row footer-non-home-page">
  <div class="wrapper-content">
    <div class="col-md-6 col-sm-6 col-xs-12 footer-info-padding">
      All Rights Reserved <span class="rights-reserved">&reg;</span> Brand Reach | Copyright <%= local_time(Time.now, '%Y') %>
    </div>
    <div class="col-md-2 col-sm-2  col-xs-12 col-md-offset-4 col-sm-offset-4">
      <div class="fb-twitter">
        <a href="#">
          <i class="fa fa-lg fa-facebook"></i>
        </a>
        <span class="space"></span>
        <a href="#">
          <i class="fa fa-lg fa-twitter"></i>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>