<div class="contact-us" id="contact_us">
  <div class="wrapper-content">

    <div class="row contact-form">
      <div class="col-md-7 col-xs-12 move-right">
        <div class="text-top "> Get in touch!</div>

        <%= form_tag get_in_touch_public_index_path, data: { parsley_validate: '' } do %>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="full_name" placeholder="Full Name" data-parsley-pattern="/^[A-Za-z\s]+$/" data-parsley-required="true"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12 clear-padding-margin">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email" data-parsley-type="email" data-parsley-required="true"/>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 clear-padding-margin only-right-padding">
                <div class="form-group">
                  <input type="text" data-parsley-pattern="(^[\+]?[0-9]+[-]?[0-9]+[-]?[0-9]+$)" data-parsley-length = "[10, 14]" data-parsley-required="true" class="form-control" name="phone_number" placeholder="Phone Number"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <textarea class="form-control" name="message" placeholder="Message" rows="6" data-parsley-required="true"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <%= submit_tag 'SUBMIT', class: 'br-btn-submit' %>
              </div>
            </div>
        <% end %>

      </div>
    </div>

  </div>
  <div class="footer row">
    <div class="wrapper-content">
      <div class="col-md-6 col-sm-6 col-xs-12 footer-info-padding">
        All Rights Reserved <span class="rights-reserved">&reg;</span> Brand Reach | Copyright <%= local_time(Time.now, '%Y') %>
      </div>
      <div class="col-md-3 col-sm-3  col-xs-12 col-md-offset-3 col-sm-offset-3 footer-info-padding">
        <div class="fb-twitter">
          <a href="https://www.facebook.com/Thebrandreach-1706253322929246/" target="_blank">
            <i class="fa fa-lg fa-facebook"></i>
          </a>
          <span class="space"></span>
          <a href="https://twitter.com/BrandReach1" target="_blank">
            <i class="fa fa-lg fa-twitter"></i>
          </a>
          <span class="space"></span>
          <a href="https://www.linkedin.com/in/thebrandreach" target="_blank">
            <i class="fa fa-lg fa-linkedin"></i>
          </a>
          <span class="space"></span>
          <a href="https://plus.google.com/101686370238396693350/about" target="_blank">
            <i class="fa fa-lg fa-google-plus"></i>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>