
<div class="footer row footer-non-home-page">
  <div class="wrapper-content">
    <div class="col-md-6 col-sm-6 col-xs-12 footer-info-padding">
      All Rights Reserved <span class="rights-reserved">&reg;</span> Brand Reach | Copyright <%= local_time(Time.now, '%Y') %>
    </div>
    <div class="col-md-3 col-sm-3  col-xs-12 col-md-offset-3 col-sm-offset-3 footer-info-padding">
      <div class="fb-twitter">
        <a href="https://www.facebook.com/Thebrandreach-1706253322929246/" target="_blank">
          <i class="fa fa-lg fa-facebook"></i>
        </a>
        <span class="space"></span>
        <a href="https://twitter.com/BrandReach1" target="_blank">
          <i class="fa fa-lg fa-twitter"></i>
        </a>
        <span class="space"></span>
        <a href="https://www.linkedin.com/in/thebrandreach" target="_blank">
          <i class="fa fa-lg fa-linkedin"></i>
        </a>
        <span class="space"></span>
        <a href="https://plus.google.com/101686370238396693350/about" target="_blank">
          <i class="fa fa-lg fa-google-plus"></i>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>