<div class="modal fade" id="forgotpassword">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
        <h3 class="modal-title">Reset Password</h3>
      </div>
      <div class="modal-body model-iner">
        <div class="row">
          <div class="col-md-12">
            <div class="errors"></div>
            <form novalidate="" data-parsley-validate="true" class="new_user" id="new_user" action="/users/password" accept-charset="UTF-8" data-remote="true" method="post">
              <input name="utf8" value="✓" type="hidden">

              <p>PLease enter your registerd e-mail address</p>

              <div class="input_container">
                <div class="label_l">Email</div>
                <input data-parsley-id="4091" class="login_input" name="user[email]" id="user_email" type="text">
                <ul id="parsley-id-4091" class="parsley-errors-list"></ul>
              </div>
              <button class="btn btn-default save_btn" type="submit">SUBMIT</button>
              <p class="forgot_pwd">&nbsp;</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>