
  <div class="modal fade" id="guideline-modal">
    <div class="modal-dialog add-fb-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#"><%= image_tag('logo_white.png', :class => 'img-responsive login-modal-logo', :alt => 'logo') %></a>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>This page will implemented in near future.</p>
        </div>
      </div>
    </div>
  </div>