<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="new-modal-body__aside">
  <a href="#"><%= image_tag('logo_white.svg', :class => 'img-responsive login-modal-logo', :alt => 'logo') %></a>
  <div class="login-modal-aside-description">
    Joining Brand Reach puts you in front of influencers from top industries that are searching to connect with brands like you.
  </div>
</div>

<div class="new-modal-body__content brand-login-modal-content">
  <button area-label="Close" class="close" id="new-modal-close" data-dismiss="modal" type="button">&times;</button>
  <div class="brand-login-modal-content-description">
    <h4>FOR BRANDS</h4>

    <% if params[:controller] == 'public' %>
        <div id="sign-in-validation-error">
        </div>
    <% end %>
    <form class="show-spinner-on-submit" method="post" accept-charset="UTF-8" action="/users/sign_in" data-remote="<%= params[:controller] == 'public' %>" data-parsley-validate="">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div class="input_container">
        <input data-parsley-id="6021" class="new-modal-input" placeholder="Email" data-parsley-type="email" data-parsley-required="true" data-parsley-error-message="Email is required" data-parsley-trigger="change" name="user[email]" id="user_email" type="text">
        <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
      </div>

      <div class="input_container">
        <input data-parsley-id="6194" class="new-modal-input" placeholder="Password" data-parsley-required="true" data-parsley-error-message="Password is required" data-parsley-trigger="change" name="user[password]" id="user_password" type="password">
        <ul id="parsley-id-6194" class="parsley-errors-list"></ul>
      </div>

      <button class="btn-modal" type="submit">
        Login
      </button>

      <%= link_to 'Forgot password?', '#forgotpassword', { class: 'forgot-password-link', data: {toggle: 'modal', dismiss: 'modal'} } %>
    </form>

    </br>
    </br>

    <div>Are you an Influencer, please login here</div>

  </div>

</div>

