<% if errors.any? %>
    <div id="error_explanation">
      <ul>
        <% errors.each do |msg| %>
            <li class="text-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>