<%= stylesheet_link_tag 'influencers_home', media: 'all' %>

<div aria-hidden="false" class="modal fade in" id="signin">
  <div class="modal-backdrop fade in"></div>
  <div class="modal-dialog modal-md modal-dialog-sign-in">
    <div class="modal-content">

      <% if params[:action] == 'home' %>
          <%= render 'shared/influencer_log_in_form' %>
      <% else %>

      <% end %>
    </div>
  </div>
</div>
