<div class="global-modal modal fade" id="request-sent">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header close-image">
                <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
                <h3 class="modal-title">Request Sent</h3>
            </div>
            <div class="modal-body model-iner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="info_p">Request Sent</div>
                        <div class="success_icon">
                            Your request is successful sent to our administrator
                            <br>
                            We will contact you soon.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>