<%= stylesheet_link_tag 'influencers_home', media: 'all' %>

<div aria-hidden="false" class="modal fade in" id="signin">
  <div class="modal-backdrop fade in"></div>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
        <h3 class="modal-title">Sign In</h3>
      </div>
      <%= render 'shared/sign_in_form' %>
    </div>
  </div>
</div>
