<%= stylesheet_link_tag 'influencers_home', media: 'all' %>

<div aria-hidden="false" class="modal fade in" id="signup">
  <div class="modal-backdrop fade in"></div>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
        <h3 class="modal-title">Create an Account</h3>
      </div>
      <div class="modal-body model-iner">
        <div class="row">
          <div class="col-md-12">
            <input name="role" id="role_influencer" value=1 class="signup-role" checked="checked" type="radio">
            <label for="role_influencer">I'm an Influencer</label>
            <br>
            <input name="role" id="role_brand" value="0" class="signup-role" type="radio">
            <label for="role_brand">I'm a Brand</label>
          </div>
        </div>
        <div class="row hidden" id="brand-signup">
          <div class="col-md-12">
            <p>Account Set Up</p>
            <div id="validation-error" class="text-danger">this is </div>
            <form id="ajax-signup" method="post" accept-charset="UTF-8" action="/users" data-remote="true" data-parsley-validate="">
            <div class="input_container">
              <div class="label_l">Email</div>
              <input data-parsley-id="6021" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[email]" id="user_email" type="text">
              <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
            </div>
            <div class="input_container">
              <div class="label_l">Password</div>
              <input data-parsley-id="6194" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[password]" id="user_password" type="password">
              <ul id="parsley-id-6194" class="parsley-errors-list"></ul>
            </div>
            <div class="input_container">
              <div class="label_l">Re-type Password</div>
              <input data-parsley-id="1949" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[password_confirmation]" id="user_password_confirmation" type="password">
              <ul id="parsley-id-1949" class="parsley-errors-list"></ul>
            </div>

              <div class="field">
                <%= hidden_field_tag 'user[user_type]', '0'%>
              </div>

            <button class="btn btn-default save_btn" type="submit">SUBMIT</button>
            </form>
          </div>
        </div>
        <div class="row" id="influencer-signup">
          <div class="col-md-12">
            <div class="col-md-12 no-left">
              <a href="<%= user_omniauth_authorize_path('facebook') %>">Facebook &nbsp; &nbsp; <%= image_tag('facebook-icon.png', :alt => "fb") %></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>

<script>
    $(function () {
        var value = $("input[name='role']:checked").val();

        showSignUpInfo(value);

        $("input[name='role']").change(function () {
            var value = $("input[name='role']:checked").val();
            console.log('selected user type is ' + value);
            showSignUpInfo(value);
        });

        function showSignUpInfo(id){
            if (id == '1') {
                $('#brand-signup').addClass('hidden');
                $('#influencer-signup').removeClass('hidden');
            } else {
                $('#brand-signup').removeClass('hidden');
                $('#influencer-signup').addClass('hidden');
            }
        }
    });
</script>