<div id="user_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %>

  <% if country.nil? %>
      <select class="country-responsive-font double-arrow-select-icon" name="state"><option value="">Select State</option></select>
  <% elsif country.subregions? %>
      <%= subregion_select(:user, :state, parent_region, {prompt: 'Select state'},
                           { :class => 'profile-dropdown-color country-responsive-font double-arrow-select-icon', data:{'parsley-required' => 'true'} }) %>
  <% else %>
      <%= text_field(:user, :state) %>
  <% end %>
</div>

<script>
  $('.country-responsive-font').selectBox();
</script>