<form>
  <p> <%= "Sender name is #{sender.id} and receiver name is #{receiver.id}" %></p>
  <div class="form-group">
    <label for="offer-message">Message</label>
    <input type="text" class="form-control" id="offer-message" placeholder="Email">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>