%br/
.panel.panel-default
  .panel-heading
    Recent Posts
  .panel-body
    - resp.each do |post|
      .row
        .col-sm-2
          %a{href: dashboard_path(query: post['id']), target: :_blank}
            = image_tag post["picture"], title: 'View Insight'
        .col-sm-8{title: post["message"]}
          = truncate(post["message"], length: 150)
          = link_to "read on FB", post["link"], target: :_blank
        .col-sm-2
          - if post["shares"]
            %div
              Shared:
              = post["shares"]["count"].to_i

      %hr
