%br/
.panel.panel-default
  .panel-heading 
    Recent Posts
  .panel-body
    - resp.each do |post|
      .row
        .col-sm-2
          %a{href: post["link"], target: :_blank}
            = image_tag post["picture"], title: post["message"]
        .col-sm-8
          = truncate(post["message"], length: 150)
          = link_to "Continue", post["link"], target: :_blank
        .col-sm-2
          - if post["shares"]
            %div 
              Shared:
              = post["shares"]["count"].to_i

      %hr