%h1== Hi #{current_user.name}
.row
  .input-group
    %span.input-group-addon
      %i.fa.fa-facebook
    %input#fbtk(type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Ex: fb id, fb name, post id" value="#{params[:query]}" autofocus="true")
    %a.input-group-addon.btn#btnGo GO

.row#results

:javascript
  function findQuery(){
    var query = $('#fbtk').val();
    if(query && query!=''){
      $('#btnGo').attr('disabled', true);
      $.get('/search', {query: query})
    }

  };
  $(document).ready(function(){
    $("#btnGo").click(function(){
      findQuery();
    });
    findQuery();
  });