<div class="row info-box-container">
  <div class="info-box-custom col-md-3 col-sm-6 col-xs-6">
    <div class="info-box-content">
      <p class="info-box-data total-follower-data-color"><%= account.number_of_followers %></p>

      <p class="info-box-text ">TOTAL LIKES</p>
    </div>
  </div>
  <div class="info-box-custom col-md-3 col-sm-6 col-xs-6">
    <div class="info-box-content">
      <p class="info-box-data page-view-data-color"><%= account.daily_page_views %></p>

      <p class="info-box-text">DAILY PAGE VIEWS</p>
    </div>
  </div>

  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>
  <div class="clearfix visible-xs-block"></div>

  <div class="info-box-custom col-md-3 col-sm-6 col-xs-6">
    <div class="info-box-content">
      <p class="info-box-data total-post-data-color"><%= account.number_of_posts %></p>
      <p class="info-box-text">TOTAL POSTS</p>
    </div>
  </div>
  <div class="info-box-custom col-md-3 col-sm-6 col-xs-6">
    <div class="info-box-content">
      <p class="info-box-data post-reach-data-color"><%= account.post_reach %></p>
      <p class="info-box-text">POST REACH( PAST 7 DAYS )</p>
    </div>
  </div>
</div>
