<div aria-hidden="false" class="modal fade in" id="add-admin-modal">
  <div class="modal-backdrop fade in"></div>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header close-image">
        <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
        <h3 class="modal-title">Add new Admin</h3>
      </div>
      <div class="modal-body model-iner">
        <div id="validation-error"></div>
        <form method="post" accept-charset="UTF-8" action="<%= admin_admins_path %>"
              data-remote="true" data-parsley-validate="">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="input_container">
            <div class="label_l">First Name</div>
            <input data-parsley-id="6021" class="login_input" data-parsley-required="true"
                   data-parsley-trigger="change" data-parsley-pattern="/^[A-Za-z\s]+$/" name="user[first_name]" id="user_email" type="text">
            <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
          </div>

          <div class="input_container">
            <div class="label_l">Last Name</div>
            <input data-parsley-id="6021" class="login_input" data-parsley-required="true"
                   data-parsley-trigger="change" data-parsley-pattern="/^[A-Za-z\s]+$/" name="user[last_name]" id="user_email" type="text">
            <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
          </div>

          <div class="input_container">
            <div class="label_l">Email</div>
            <input class="login_input"
                   data-parsley-required="true"
                   data-parsley-type="email"
                   data-parsley-trigger="change"
                   name="user[email]"
                   id="user_email"
                   type="text">
          </div>
          <div class="input_container">
            <div class="label_l">Password</div>
            <input data-parsley-id="6194" class="login_input" data-parsley-minlength="[6]" data-parsley-required="true"
                   data-parsley-trigger="change" name="user[password]" id="user_password" type="password">
          </div>
          <div class="input_container">
            <div class="label_l">Confirm password</div>
            <input class="login_input" data-parsley-minlength="[6]" id="user_password_confirmation" type="password"
                   name="user[password_confirmation]" autocomplete="off" data-parsley-required="true"
                   data-parsley-trigger="change" data-parsley-equalto="#user_password" data-parsley-error-message="Confirmation password does not match with password">
          </div>
          <button class="br-btn-submit" type="submit">
            SUBMIT
          </button>
        </form>
      </div>
    </div>
  </div>
</div>