<% flash.each do |type, message| %>
    <div class="alert fade in">
      <% if message.kind_of?(Array)%>
            <% message.each do |message_text| %>
              <P class="error-text"><%= message_text %></P>
            <% end %>
      <% else %>
          <P class="error-text"><%= message %></P>
       <% end %>
    </div>
<% end %>