<tr>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td>
    <a href="<%= user %>" class="text-red  text-danger"><h5>DEACTIVATE</h5></a>
  </td>
</tr>