<% title 'Brand Requests' %>

<div class="admin-page-wrapper">
  <h1 class="admin-header">Brand Requests</h1>
  <table class="table table-responsive admin-table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'user', collection: @brands %>
    </tbody>
  </table>
</div>
