<% title 'Active Influencer' %>

<div class="admin-page-wrapper">
  <h1 class="">Active Influencers</h1>

  <table class="table table-responsive admin-table active-influencer-table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'user', collection: @influencers %>
    </tbody>
  </table>
  <%= paginate @influencers %>
</div>
