<% title 'Manage admins' %>

<div class="admin-page-wrapper">
  <div class="">
    <a href="#add-admin-modal" data-toggle='modal' class="btn btn-primary raleway-semibold"><span class="plus-sign"><i class="fa fa-plus"></i></span> Add Admin</a>
  </div>
  <div class="alert-danger"></div>
  <br/>
  <h1 class="admin-header">Manage admins</h1>
  <table class="table table-responsive admin-table table-admin">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @admins.each do |admin| %>
        <%= render partial: 'admin', object: admin %>
    <% end %>
    </tbody>
  </table>
  <%= paginate @admins %>
</div>

<%= render 'add_admin_modal' %>

<script>
  $(function(){
    $('.remove-admin').click(function(){
        if(confirm('Do you really want to delete?')){
            var adminId = $(this).data('id');
            $.ajax({
                type: 'delete',
                url: '/admins/' + adminId,
                dataType: "script",
                data: {
                    'authenticity_token': $('meta[name="csrf-token"]').attr('content')
                },
                success: function(data) {
                    console.log(data)
                }
            });
        }
    });
  });
</script>