<% title 'Chat History' %>

<div class="admin-page-wrapper">
  <h1 class="admin-header display-inline-block">All Chat History</h1>
  <div class="table-responsive" id="chat-history-table">
    <%= render 'admin/admins/chat_history_table_body' %>
  </div>
</div>
