<% title 'Contact Us Mails' %>

<div class="admin-page-wrapper">
  <h1 class="admin-header display-inline-block">Contact Us Mails</h1>
  <table class="table table-responsive admin-table active-influencer-table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>category</th>
      <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'contact_us', collection: @contact_us_mails %>
    </tbody>
  </table>
  <%= paginate @contact_us_mails %>
</div>
