<h4>Hi, <%= @user.full_name %></h4>

<P>Your Brandreach account has been successfully activated</P>
<p>Use following information for use your account</p>
<p><strong>Email: <%= @user.email %></strong></p>
<p><strong>Password:</strong> Your previous password.</p>
<p>If you forget your previous password then use forget password from our portal.</p>

