<h4>Hi, <%= @receiver.full_name %></h4>
<p> Your campaign <strong><%= @campaign.name %></strong> have been started by <strong><%= @campaign.sender.full_name %></strong> to your Brandreach profile</p>
