<h4>Hi, <%= @receiver.full_name %></h4>
<p> You have new message on campaign <strong><%= @message.campaign.name %></strong>  by <strong><%= @message.sender.full_name %></strong> to your Brandreach profile</p>
