<h4>Dear, Admin</h4>

<p><strong>New Message From : </strong><%= @user.full_name %></p>
<p><strong>Email Address : </strong><%= @user.email %></p>

<P><strong>Message is : </strong></P><%= @message %>

