<p><strong>New Message From : </strong><%= @full_name %></p>
<p><strong>Email Address : </strong><%= @email %></p>
<p><strong>Phone Number : </strong><%= @phone_number %></p>
<p><strong>Message is: </strong><%= @message %></p>


