<h4>Hi, <%= @receiver.full_name %></h4>
<p> You have been received new campaign <strong><%= @campaign.name %></strong> request from brand <strong><%= @campaign.sender.full_name %></strong> to your Brandreach profile</p>
