div style="display: inline-block; position: relative;" class="rating-symbol"><div style="visibility: hidden;" class="rating-symbol-background glyphicon glyphicon-star-empty"></div><div style="display: inline-block; position: absolute; overflow: hidden; left: 0px; width: auto;" class="rating-symbol-foreground"><span class="glyphicon glyphicon-star"></span></div></div><div style="display: inline-block; position: relative;" class="rating-symbol"><div style="visibility: hidden;" class="rating-symbol-background glyphicon glyphicon-star-empty"></div><div style="display: inline-block; position: absolute; overflow: hidden; left: 0px; width: auto;" class="rating-symbol-foreground"><span class="glyphicon glyphicon-star"></span></div></div><div style="display: inline-block; position: relative;" class="rating-symbol"><div style="visibility: hidden;" class="rating-symbol-background glyphicon glyphicon-star-empty"></div><div style="display: inline-block; position: absolute; overflow: hidden; left: 0px; width: auto;" class="rating-symbol-foreground"><span class="glyphicon glyphicon-star"></span></div></div><div style="display: inline-block; position: relative;" class="rating-symbol"><div style="visibility: hidden;" class="rating-symbol-background glyphicon glyphicon-star-empty"></div><div style="display: inline-block; position: absolute; overflow: hidden; left: 0px; width: auto;" class="rating-symbol-foreground"><span class="glyphicon glyphicon-star"></span></div></div><div style="display: inline-block; position: relative;" class="rating-symbol"><div style="visibility: hidden;" class="rating-symbol-background glyphicon glyphicon-star-empty"></div><div style="display: inline-block; position: absolute; overflow: hidden; left: 0px; width: auto;" class="rating-symbol-foreground"><span class="glyphicon glyphicon-star"></span></div></div></span><input class="rating" readonly="readonly" value="5" type="hidden">
</div>
</div>
</div>
<div class="col-sm-9 testi_left">
  <p>
    I used 'Takeoffnow' to connect with the best retail experts to prepare
    and execute my strategy, including that for brand positioning. And yes,
    it worked! Coming from a typical seed industry background, I have now
    launched my first lot of super-foods (quinoa and chia seeds). I had my
    business plan reviewed by retail experts and today, I'm happy to see the
    results show improvement in both performance and overall efficiency.
  </p>
</div>
</div>
</div>
</div>
</div>
<a class="left carousel-control" data-slide="prev" href="#myCarousel" role="button"></a>
<a class="right carousel-control" data-slide="next" href="#myCarousel" role="button"></a>
</div>
</div>
</div>
</div>
<div class="contact" id="seventh">
  <span class="arrow"></span>
  <button class="btn btn-default button" data-target="#signup" data-toggle="modal">SIGN UP</button>
  <div class="contact_img">
    <div class="home-container">
      <h2 class="text-center" id="contactus">We'd love to hear from you!</h2>
      <form novalidate="" data-parsley-validate="true" action="/feedback" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" value="✓" type="hidden">
        <div class="row">
          <div class="col-md-12 errors"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input data-parsley-id="9646" name="name" id="name" class="form-control" placeholder="Name" data-parsley-required="true" data-parsley-trigger="change" data-parsley-error-message="Name is Mandatory" type="text"><ul id="parsley-id-9646" class="parsley-errors-list"></ul>
          </div>
          <div class="col-md-6">
            <input data-parsley-id="7787" name="email" id="email" class="form-control" placeholder="Email" data-parsley-required="true" data-parsley-type="email" data-parsley-error-message="Email is Mandatory" data-parsley-trigger="change" type="text"><ul id="parsley-id-7787" class="parsley-errors-list"></ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <textarea data-parsley-id="2268" name="message" id="message" placeholder="Your Message" class="form-control" data-parsley-required="true" data-parsley-trigger="change" data-parsley-error-message="Message field is blank. Please type your message"></textarea><ul id="parsley-id-2268" class="parsley-errors-list"></ul>
            <button class="btn btn-default" type="submit">Send</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<footer class="footer_mbl">
  <ul>
    <li><a href="#second">WHAT‘S IT ABOUT</a></li>
    <li><a href="http://www.takeoffnow.co/how-it-works">HOW IT WORKS</a></li>
    <li><a href="#seventh">CONTACT US</a></li>
  </ul>
  <div class="socialmedia">
    <a target="_blank" href="https://www.facebook.com/takeoffnowco"><img alt="Facebook" src="Takeoffnow_files/facebook-d21943e250da8fe32e3fbe9459836b540e37e979279b843c9ff.png" height="14" width="14">
    </a><a target="_blank" href="https://twitter.com/TakeOffnowCo"><img alt="Twitter" src="Takeoffnow_files/twitter-c1c32b226611ab377fc25dbc3caa38ec77f38e4fc8be14237ddc.png" height="14" width="14">
  </a><a href="javascript:;"><img alt="Linkedin" src="Takeoffnow_files/linkedin-5b68475f6a943f99c3090676f1d51c2f98eff5be00be412cf50.png" height="14" width="14">
  </a><a href="javascript:;"><img alt="Google +" src="Takeoffnow_files/google_plus-06d561433959db717b5ec121ef5418c3c2af79307cc47356.png" height="14" width="14">
  </a></div>

  <p class="copyright">All Rights Reserved ® Take Off | Copyright 2015</p>
</footer>
<div class="modal fade" id="message-sent">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
        <h3 class="modal-title">Message Sent</h3>
      </div>
      <div class="modal-body model-iner">
        <div class="row">
          <div class="col-md-12">
            <div class="success_icon">
              Your message is successful sent. Thanks for your feedback
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer_bottom">Copyright • TakeOff • 2015</footer>
<div class="modal fade" id="login">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
        <h3 class="modal-title">Log In</h3>
      </div>
      <div class="modal-body model-iner">
        <div class="row">
          <div class="col-md-12" style="margin-bottom: 30px;">
            <p class="info_p">Login using your Social Media account</p>
            <a class="btn btn-success" href="http://www.takeoffnow.co/users/auth/linkedin"><i class="fa fa-linkedin"></i>
            </a>
          </div>
          <div class="col-md-12">
            <p class="info_p">(Or) Login using your account</p>
            <div class="errors" style="margin-bottom: 5px;"></div>
            <form novalidate="" data-parsley-validate="true" autocomplete="off" class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" value="✓" type="hidden"><input data-parsley-id="7113" style="display:none"><ul id="parsley-id-7113" class="parsley-errors-list"></ul>
              <input data-parsley-id="4975" style="display:none" type="password"><ul id="parsley-id-4975" class="parsley-errors-list"></ul>
              <input name="return_path" id="return_path" type="hidden">
              <div class="input_container">
                <div class="label_l">Email</div>
                <input data-parsley-id="9057" class="login_input" data-parsley-required="true" data-parsley-trigger="change" autocomplete="disabled" name="user[email]" id="user_email" type="text"><ul id="parsley-id-9057" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container">
                <div class="label_l">Password</div>
                <input data-parsley-id="7239" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[password]" id="user_password" type="password"><ul id="parsley-id-7239" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container remember">
                <div class="checkbox checkbox-primary">
                  <input name="user[remember_me]" value="0" type="hidden"><input data-parsley-id="4179" data-parsley-multiple="userremember_me" class="login_input" value="1" name="user[remember_me]" id="user_remember_me" type="checkbox">
                  <label for="user_remember_me">Remember me</label>
                </div><ul id="parsley-id-multiple-userremember_me" class="parsley-errors-list"></ul>
              </div>
              <button class="btn btn-default save_btn" type="submit">SUBMIT</button>
              <p class="forgot_pwd">
                <a data-toggle="modal" data-dismiss="modal" href="#forgotpassword">Forgot your password</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="forgotpassword">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
        <h3 class="modal-title">Reset Password</h3>
      </div>
      <div class="modal-body model-iner">
        <div class="row">
          <div class="col-md-12">
            <div class="errors" style="margin-bottom: 5px;"></div>
            <form novalidate="" data-parsley-validate="true" class="new_user" id="new_user" action="/users/password" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" value="✓" type="hidden"><p>PLease enter your registerd e-mail address</p>
              <div class="input_container">
                <div class="label_l">Email</div>
                <input data-parsley-id="4091" class="login_input" name="user[email]" id="user_email" type="text"><ul id="parsley-id-4091" class="parsley-errors-list"></ul>
              </div>
              <button class="btn btn-default save_btn" type="submit">SUBMIT</button>
              <p class="forgot_pwd">&nbsp;</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="false" style="display: block;" class="modal fade in" id="signup"><div style="height: 863px;" class="modal-backdrop fade in"></div>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
        <h3 class="modal-title">Create an Account</h3>
      </div>
      <div class="modal-body model-iner">
        <div class="row">
          <div class="col-md-12">
            <input name="role" id="role_seeker" value="seeker" class="signup-role" checked="checked" type="radio">
            <label for="role_seeker" style="color: #666; font-weight: normal; font-size: 15px; margin-left: 10px;">I'm an Advice Seeker</label>
            <br>
            <input name="role" id="role_pilot" value="pilot" class="signup-role" type="radio">
            <label for="role_pilot" style="color: #666; font-weight: normal; font-size: 15px; margin-left: 10px;">I'm a Pilot</label>
          </div>
        </div>
        <div class="row" id="seeker-signup">
          <div class="col-md-12" style="margin: 30px 0;">
            <p class="info_p">Sign up via Social Media</p>
            <a class="btn btn-success" href="http://www.takeoffnow.co/users/auth/linkedin"><i class="fa fa-linkedin"></i>
            </a>
          </div>
          <div class="col-md-12">
            <p class="info_p">(Or) Sign up by creating an account</p>
            <div class="col-md-12 no-left errors" style="margin-bottom: 5px;"></div>
            <form novalidate="" data-parsley-validate="true" class="new_user" id="new_user" action="/users" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" value="✓" type="hidden"><div class="input_container">
              <div class="col-xs-6 col-md-6 no-left"><input data-parsley-id="9029" class="login_input" placeholder="First Name" data-parsley-required="true" data-parsley-trigger="change" name="user[profile_attributes][first_name]" id="user_profile_attributes_first_name" type="text"><ul id="parsley-id-9029" class="parsley-errors-list"></ul></div>
              <div class="col-xs-6 col-md-6 no-left"><input data-parsley-id="4049" class="login_input" placeholder="Last Name" data-parsley-required="true" data-parsley-trigger="change" name="user[profile_attributes][last_name]" id="user_profile_attributes_last_name" type="text"><ul id="parsley-id-4049" class="parsley-errors-list"></ul></div>
            </div>
              <div class="input_container">
                <div class="label_l">Mobile</div>
                <input data-parsley-id="4522" class="login_input" data-parsley-required="true" data-parsley-type="digits" data-parsley-trigger="change" data-parsley-error-message="Please type a valid 10-digit phone number" name="user[profile_attributes][mobile]" id="user_profile_attributes_mobile" type="text"><ul id="parsley-id-4522" class="parsley-errors-list"></ul>
              </div>
              <p>Account Set Up</p>
              <div class="input_container">
                <div class="label_l">Email</div>
                <input data-parsley-id="6021" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[email]" id="user_email" type="text"><ul id="parsley-id-6021" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container">
                <div class="label_l">Password</div>
                <input data-parsley-id="6194" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[password]" id="user_password" type="password"><ul id="parsley-id-6194" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container">
                <div class="label_l">Re-type Password</div>
                <input data-parsley-id="1949" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[password_confirmation]" id="user_password_confirmation" type="password"><ul id="parsley-id-1949" class="parsley-errors-list"></ul>
              </div>
              <p>Agreement</p>
              <div class="remember">
                <div class="checkbox checkbox-primary">
                  <input data-parsley-id="2981" data-parsley-multiple="agreement" name="agreement" id="agreement" value="{:class=&gt;&quot;styled&quot;}" type="checkbox">
                  <label for="agreement">
                    I have read Takeoff's
                    <a data-toggle="modal" href="#terms">Terms &amp; Conditions</a>
                    and agree with them
                  </label>
                </div><ul id="parsley-id-multiple-agreement" class="parsley-errors-list"></ul>
              </div>
              <button class="btn btn-default save_btn" type="submit">SUBMIT</button>
            </form>
          </div>
        </div>
        <div class="row" id="pilot-signup" style="display: none">
          <div class="col-md-12">
            <div class="col-md-12 no-left">
              <p>Takeoff accepts pilots only on invitation. If you think your worth to
                be a pilot kindly send us your details. We would contact you.</p>
            </div>
            <form novalidate="" data-parsley-validate="true" action="/request_account" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" value="✓" type="hidden">
              <div class="col-md-12 no-left" style="margin-top: 15px;">
                <p class="info_p">Personal Information</p>
              </div>
              <div class="col-md-12 no-left" style="margin-bottom: 5px;">
                <div class="errors"></div>
              </div>
              <div class="input_container">
                <input data-parsley-id="1403" name="first_name" id="first_name" class="login_input" placeholder="First Name" data-parsley-required="true" data-parsley-trigger="change" type="text"><ul id="parsley-id-1403" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container">
                <input data-parsley-id="8617" name="last_name" id="last_name" class="login_input" placeholder="Last Name" data-parsley-required="true" data-parsley-trigger="change" type="text"><ul id="parsley-id-8617" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container">
                <div class="label_l">Mobile</div>
                <input data-parsley-id="2036" name="mobile" id="mobile" class="login_input" data-parsley-required="true" data-parsley-type="digits" data-parsley-trigger="change" data-parsley-error-message="Please fill your mobile number" type="text"><ul id="parsley-id-2036" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container">
                <div class="label_l">Email</div>
                <input data-parsley-id="7591" name="email" id="email" class="login_input" data-parsley-required="true" data-parsley-type="email" data-parsley-trigger="change" data-parsley-error-message="Please fill a valid email" type="text"><ul id="parsley-id-7591" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container">
                <div class="label_l">Company</div>
                <input data-parsley-id="9428" name="company" id="company" class="login_input" data-parsley-required="true" data-parsley-trigger="change" type="text"><ul id="parsley-id-9428" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container">
                <div class="label_l">Linkedin</div>
                <input data-parsley-id="7063" name="linkedin" id="linkedin" class="login_input" data-parsley-required="true" data-parsley-pattern="linkedin.com" data-parsley-trigger="change" data-parsley-error-message="Please type your Linkedin Profile" type="text"><ul id="parsley-id-7063" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container">
                <div class="label_l">Current Position</div>
                <input data-parsley-id="5232" name="current_position" id="current_position" class="login_input" data-parsley-required="true" data-parsley-trigger="change" type="text"><ul id="parsley-id-5232" class="parsley-errors-list"></ul>
              </div>
              <div class="clearfix"></div>
              <p style="padding-top: 20px; font-size: 15px;">Agreement</p>
              <div class="remember">
                <div class="checkbox checkbox-primary">
                  <input data-parsley-id="2981" data-parsley-multiple="agreement" name="agreement" id="agreement" value="" class="styled" data-parsley-mincheck="1" data-parsley-trigger="change" type="checkbox">
                  <label for="agreement">
                    I have read Takeoff's
                    <a data-toggle="modal" href="#terms">Terms &amp; Conditions</a>
                    and agree with them
                  </label>
                </div>
              </div>
              <button class="btn btn-default save_btn" type="submit">SUBMIT</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="request-sent">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
        <h3 class="modal-title">Request Sent</h3>
      </div>
      <div class="modal-body model-iner">
        <div class="row">
          <div class="col-md-12">
            <div class="info_p">Request Sent</div>
            <div class="success_icon">
              Your request is successful sent to our administrator
              <br>
              We will contact you soon.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="terms" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
      </div>
      <div class="modal-body model-iner">
        <div class="row">
          <div class="col-md-12">
            <h1>TakeOffNow Terms and Conditions of Use</h1>
            <h3>1. Terms</h3>
            <p>
              By accessing this web site, you are agreeing to be bound by these web
              site Terms and Conditions of Use, all applicable laws and regulations,
              and agree that you are responsible for compliance with any applicable
              local laws. If you do not agree with any of these terms, you are
              prohibited from using or accessing this site. The materials contained in
              this web site are protected by applicable copyright and trade mark law.
            </p>
            <h3>2. Use License</h3>
            <p>
              a. Permission is granted to make calls and its additional services
              (information or software) on TAKEOFF TELE SOLUTIONS PRIVATE LIMITED web
              site for personal &amp; commercial purpose only. This is the grant of a
              license, not a transfer of title, and under this license you may not:
<span>
i. modify or copy the materials;
ii. use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
iii. attempt to decompile or reverse engineer any software contained on TAKEOFF TELE SOLUTIONS PRIVATE LIMITED's web site;
iv. remove any copyright or other proprietary notations from the materials; or
v. transfer the materials to another person or "mirror" the materials on any other server.
</span>
            </p>
            <p>
              b. This license shall automatically terminate if you violate any of
              these restrictions and may be terminated by TAKEOFF TELE SOLUTIONS
              PRIVATE LIMITED at any time. Upon terminating your viewing of these
              materials or upon the termination of this license, you must destroy any
              downloaded materials in your possession whether in electronic or printed
              format.
            </p>
            <h3>3. Disclaimer</h3>
            <p>
              a. The materials on TAKEOFF TELE SOLUTIONS PRIVATE LIMITED's web site
              are provided "as is". TAKEOFF TELE SOLUTIONS PRIVATE LIMITED makes no
              warranties, expressed or implied, and hereby disclaims and negates all
              other warranties, including without limitation, implied warranties or
              conditions of merchantability, fitness for a particular purpose, or
              non-infringement of intellectual property or other violation of rights.
              Further, TAKEOFF TELE SOLUTIONS PRIVATE LIMITED does not warrant or make
              any representations concerning the accuracy, likely results, or
              reliability of the use of the materials on its Internet web site or
              otherwise relating to such materials or on any sites linked to this
              site.
            </p>
            <p>
              b. The Pilots or advisors or neither TakeOff Tele Solutions Private
              Limited are not responsible for any negative events or actions caused
              based on the advices or communication received via TakeOff TakeOff Tele
              Solutions Private Limited.
            </p>
            <p>
              c. The caller’s money would be refunded only if the pilot or advisor’s
              communication was completely baseless or reckless which would be decided
              by the management of TakeOff Tele Solutions Private Limited.
            </p>
            <h3>4. Limitations</h3>
            <p>
              In no event shall TAKEOFF TELE SOLUTIONS PRIVATE LIMITED or its pilots
              (or Advisors) be liable for any damages (including, without limitation,
              damages for loss of data or profit, or due to business interruption,)
              arising out of the use or inability to use the services on TAKEOFF TELE
              SOLUTIONS PRIVATE LIMITED's Internet site, even if TAKEOFF TELE
              SOLUTIONS PRIVATE LIMITED or a TAKEOFF TELE SOLUTIONS PRIVATE LIMITED
              authorized representative has been notified orally or in writing of the
              possibility of such damage. Because some jurisdictions do not allow
              limitations on implied warranties, or limitations of liability for
              consequential or incidental damages, these limitations may not apply to
              you.
            </p>
            <h3>5. Revisions and Errata</h3>
            <p>
              The materials appearing on TAKEOFF TELE SOLUTIONS PRIVATE LIMITED's web
              site could include technical, typographical, or photographic errors.
              TAKEOFF TELE SOLUTIONS PRIVATE LIMITED does not warrant that any of the
              materials on its web site are accurate, complete, or current. TAKEOFF
              TELE SOLUTIONS PRIVATE LIMITED may make changes to the materials
              contained on its web site at any time without notice. TAKEOFF TELE
              SOLUTIONS PRIVATE LIMITED does not, however, make any commitment to
              update the materials.
            </p>
            <h3>6. Links</h3>
            <p>
              TAKEOFF TELE SOLUTIONS PRIVATE LIMITED has not reviewed all of the sites
              linked to its Internet web site and is not responsible for the contents
              of any such linked site. The inclusion of any link does not imply
              endorsement by TAKEOFF TELE SOLUTIONS PRIVATE LIMITED of the site. Use
              of any such linked web site is at the user's own risk.
            </p>
            <h3>7. Site Terms of Use Modifications</h3>
            <p>
              TAKEOFF TELE SOLUTIONS PRIVATE LIMITED may revise these terms of use for
              its web site at any time without notice. By using this web site you are
              agreeing to be bound by the then current version of these Terms and
              Conditions of Use.
            </p>
            <h3>8. Governing Law</h3>
            <p>
              Any claim relating to TAKEOFF TELE SOLUTIONS PRIVATE LIMITED's web site
              shall be governed by the laws of the India without regard to its
              conflict of law provisions.
            </p>
            <h1>Privacy Policy</h1>
            <p>
              Your privacy is very important to us. Accordingly, we have developed
              this Policy in order for you to understand how we collect, use,
              communicate and disclose and make use of personal information. The
              following outlines our privacy policy.
            </p>
            <ul>
              <li>
                Before or at the time of collecting personal information, we will
                identify the purposes for which information is being collected.
              </li>
              <li>
                We will collect and use of personal information solely with the
                objective of fulfilling those purposes specified by us and for other
                compatible purposes, unless we obtain the consent of the individual
                concerned or as required by law.
              </li>
              <li>
                We will only retain personal information as long as necessary for the fulfillment of those purposes.
              </li>
              <li>
                We will collect personal information by lawful and fair means and, where
                appropriate, with the knowledge or consent of the individual concerned.
              </li>
              <li>
                Personal data should be relevant to the purposes for which it is to be
                used, and, to the extent necessary for those purposes, should be
                accurate, complete, and up-to-date.
              </li>
              <li>
                We will protect personal information by reasonable security safeguards
                against loss or theft, as well as unauthorized access, disclosure,
                copying, use or modification.
              </li>
              <li>
                We will make readily available to customers information about our
                policies and practices relating to the management of personal
                information.
              </li>
              <li>
                We are committed to conducting our business in accordance with these
                principles in order to ensure that the confidentiality of personal
                information is protected and maintained.
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56263524-3', 'auto');
    ga('send', 'pageview');

</script>


</body></html>