<%= stylesheet_link_tag 'influencers_home', media: 'all' %>

<div aria-hidden="false" class="modal fade in" id="brand-invitation-modal">
  <div class="modal-backdrop fade in"></div>
  <div class="modal-dialog modal-md modal-dialog-sign-up">
    <div class="modal-content">
      <div class="modal-header close-image">
        <button area-label="Close" class="close first_close" data-dismiss="modal" tyle="button"></button>
        <h3 class="modal-title">Create an Account</h3>
      </div>
      <div class="modal-body model-iner">
        <div class="row " id="brand-signup">
          <div class="col-md-12">

            <div id="validation-error" class="text-danger"></div>
            <div id="success-message" class="text-success"></div>
            </br>
            <form class="show-spinner-on-submit" id="ajax-signup" method="post" accept-charset="UTF-8" action="/invitations/create_brand_invitation" data-remote="true" data-parsley-validate="">

              <p>Creat Brand </p>

              <div class="input_container">
                <div class="label_l">First Name</div>
                <input data-parsley-id="6021" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[first_name]" id="user_email" type="text">
                <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
              </div>

              <div class="input_container">
                <div class="label_l">Last Name</div>
                <input data-parsley-id="6021" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[last_name]" id="user_email" type="text">
                <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
              </div>

              <div class="input_container">
                <div class="label_l">Email</div>
                <input data-parsley-id="6021" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[email]" id="user_email" type="text">
                <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
              </div>

              <div class="input_container">
                <div class="label_l">Phone</div>
                <input data-parsley-id="6021" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[phone]" id="user_phone" type="text">
                <ul id="parsley-id-6021" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container">
                <div class="label_l">Company Name</div>
                <input data-parsley-id="6194" class="login_input" data-parsley-required="true" data-parsley-trigger="change" name="user[company_name]" id="user_company_name" type="text">
                <ul id="parsley-id-6194" class="parsley-errors-list"></ul>
              </div>
              <div class="input_container">
                <textarea id='company-short-bio' name="user[short_bio]" data-parsley-id="2000" rows="5" cols="50" placeholder="Company short bio" required=""></textarea>
                <ul id="parsley-id-2000" class="parsley-errors-list"></ul>
              </div>

              <button class="br-btn-submit" type="submit">
                SUBMIT
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(function () {
        var value = $("input[name='role']:checked").val();

        showSignUpInfo(value);

        $("input[name='role']").change(function () {
            var value = $("input[name='role']:checked").val();
            console.log('selected user type is ' + value);
            showSignUpInfo(value);
        });

        function showSignUpInfo(id) {
            if (id == '1') {
                $('#brand-signup').addClass('hidden');
                $('#influencer-signup').removeClass('hidden');
            } else {
                $('#brand-signup').removeClass('hidden');
                $('#influencer-signup').addClass('hidden');
            }
        }
    });
</script>