<style>
  .sign-in-form-container{
      margin: 62px auto 20px;
      padding-top: 53px;
      width: 400px;
  }
        @media (max-width: 767px) {
            .sign-in-form-container{
                margin-top: 0;
                padding-top: 10px;
            }
        }
</style>
<div class="wrapper-content sign-in-form-container">
  <%= render 'shared/sign_in_form' %>
</div>
