<% if @success %>
    $('.offer-box-<%= @offer.id %>').find('div.action').html('<span class="text-success">Accepted Campaign</span>');
<% else %>
console.log('calling unsuccessfulOfferOperationNotice');
    unsuccessfulOfferOperationNotice('<%= @offer_id %>', '<%= @message %>');
<% end %>