console.log('Selected offers has been selected successfully');

$(function () {
//    show engage offer can't be deleted message
    <% if @engage_offer_select && @ids.present? %>
        $('.engage-campaign-delete-info').addClass('text-danger');
        $('.engage-campaign-delete-info').text('You can not delete already Engaged Campaign.');
    <% elsif @engage_offer_select %>
        $('.engage-campaign-delete-info').addClass('text-danger');
        $('.engage-campaign-delete-info').text('You can not delete already Engaged Campaign.');
    <% else @ids.present? %>
        $('.engage-campaign-delete-info').addClass('text-success');
        $('.engage-campaign-delete-info').text('Selected campaigns has been deleted successfully.');
    <% end %>

//    remove deleted offers
    <% @ids.each do |id|%>
    $('.offer-box-<%= id %>').hide();
    <% end %>

//    uncheck all select checkbox
    $('.select-offer:checkbox:checked').each(function () {
        this.checked = false;
    });

    if ($('.offer-box:visible').length == 0) {
        console.log('now there is no offer remains');
        disableOfferDeleteStartIcon();
    }
// update unread message count
    <% if @unread_messages_count > 0 %>
    $('span.unread-message').html("(<span class='unread-message-number'>" + <%= @unread_messages_count %> +"</span>)");
    <% else %>
    $('span.unread-message').html("");
    <% end %>
});
