<% if campaign.stopped? %>
    <p class="text-danger">STOPPED</p>
<% else %>
    <div class="onoffswitch js-campaign-on-of-switch" data-id="<%= campaign.id %>">
      <input type="hidden" value="0" name="user[is_available]">
      <% if campaign.paused? %>
          <input id="setting-on-off-switch-<%= campaign.id %>" class="onoffswitch-checkbox" type="checkbox">
      <% else %>
          <input id="setting-on-off-switch-<%= campaign.id %>" class="onoffswitch-checkbox" type="checkbox" checked="checked">
      <% end %>
      <label class="onoffswitch-label" for="setting-on-off-switch-<%= campaign.id %>">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
<% end %>
