.main-content{
  background-color: #F3EEEC;
}
.admin-sidebar-top-space{
  margin-top: 100px;
}

.admin-page-wrapper{
  background-color: #F3EEEC;
  padding: 20px;
}

.admin-table thead th{
  font-size: 16px;
}

.admin-table tbody tr:nth-of-type(odd){
  background-color: #F9F9F9;
}

table {
  border: 1px solid #DCDCDC;
}

.admin-table thead > tr > th { border-bottom: none; }

.admin-table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th,
.table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td
{ border: 1px solid #DCDCDC; }

#add-admin-modal .label_l{
  background: #367FA9 none repeat scroll 0 0;
  min-width: 135px;
}

.plus-sign{
  font-size: 12px;
}