.admin-sidebar-top-space{
  margin-top: 100px;
}

.admin-page-wrapper{
  background-color: #F3EEEC;
  padding: 20px;
}

.admin-table tr:nth-of-type(odd){
  background-color: #F9F9F9;
}

.admin-table tr{
  border: 2px solid #DCDCDC;
}

.admin-table td{
  border: 2px solid #DCDCDC;
}

#add-admin-modal .label_l{
  background: #367FA9 none repeat scroll 0 0;
  min-width: 110px;
}