/* all page content wrapper */
.wrapper-content{
  max-width: 1010px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper-content .few-brand {
  color: rgba(0, 0, 0, 0.927);
}

@media  (max-width: 767px){


}
/*.clear-padding-margin{*/
/*padding-right: 0;*/
/*margin: 0;*/
/*}*/
@media  (min-width: 768px){
  .clear-padding-margin{
    padding-right: 0;
    margin: 0;
  }

}
.only-right-padding{
  padding-right: 15px;
}

/* */
.header {
  color: black;
  font-weight: lighter;
  border-bottom: 1px solid #00c9f3;
  position: fixed;
  //top: 50px;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: white;
}

//@media screen and (min-width: 768px) {
//  .header {
//    position: fixed;
//    //top: 50px;
//    right: 0;
//    left: 0;
//    z-index: 99;
//    background-color: white;
//  }
//  .welcome_bar{
//    z-index: 100;
//  }
//
//}
@media (min-width: 1072px) {

}

.navbar{
  margin-bottom: 0;
  min-height: 30px;
  padding-bottom: 1px;
}
.navbar-collapse{
  padding: 0;
}
.navbar .navbar-toggle .icon-bar {
  background-color: black;
}

.nav li > a:hover, .nav li > a:focus {
  background-color: white;
  color: #00aeef;
}

.nav li:last-child > a:hover, .nav li:last-child > a:focus {
  background-color: #00b6e2;
  color: #00aeef;
}

.brands .brands-block .popover {
  background: #ebebeb;
  border-radius: 1px;
  margin-top: 70px;
  text-align: center;
}

@media (max-width: 900px) {
  .brands .brands-block .popover {
    margin-top: 65px;
  }
}

@media (max-width: 767px) {
  .brands .brands-block .popover {
    margin-top: 60px;
  }
}

.brands .brands-block .popover-content {
  padding: 0;
}

.popover-title{
  background: #ebebeb;
}

.popover.bottom .arrow:after {
  border-bottom-color: #ebebeb;
}

.navbar-nav > li > a{
  color: #000000;
  margin: 0 16px;
  padding: 9px 0;
}

.navbar-nav > li:last-child  > a {
  padding: 9px 9px;
}

@media all and (max-width: 767px) {
  .navbar-nav > li > a{
    padding-top: 20px;
  }
}

.header span {
  display: block;
}

.logo {
  float: left;
  position: relative;
  z-index: 1;
  padding-bottom: 5px;
}

.links {
  float: right;
}

ul.menu-item {
  list-style: none;
  float: left;
}

@media (max-width: 749px) {
  ul.menu-item{
    display: none;
  }
}

ul.menu-item li {
  display: inline;
  padding: 0 20px;
}

.menu-item li a {
  color: #333333;
}

.menu-item li.active a {
  color: #00AEEF;
}

.btn-theme {
  background-color: #00aeef;
  border: medium none;
}

.identity {
  background: image-url("header-image-new.png") no-repeat scroll center center / cover ;
  background-size: 100% 95%;
  height: 620px;
  padding-top: 70px;
  margin-top: 12px;
}

.identity .text-upper {
  //font-family: 'Helvetica Neue 35 Thin', sans-serif;
  //font-size: 74px;
  letter-spacing: -0.6px;
  padding-top: 135px;
  line-height: 1;
  padding-bottom: 10px;
}

.identity .text-upper-identity {
  font-size: 36px;
  font-family: Georgia, serif;
  color: #00aeef;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.identity .text-lower {
  font-weight: 500;
  color: #ff8500;
  line-height: 1.2;
  letter-spacing: -0.6px;
}

.identity .text-lower-identity {
  font-size: 36px;
  font-family: Georgia, serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

@media only screen and (max-width : 890px) {
  .identity {
    background-color: #ffffff;
    background: none;
  }

  .identity .header-image-responsive {
    width: 90%;
    height: 90%;
    display: block;
    float: right;
    overflow: hidden;
  }

  .identity .header-image-new-responsive {
    width: 100%;
    height: 86%;
  }

  .identity .text-upper {
    text-align: center;
    padding-right: 0%;
    padding-top: 0;
  }

  .identity .text-lower {
    padding-left: 36%;
  }
}

@media only screen and (max-width : 768px) {
  .identity .header-image-responsive {
    height: 80%;
  }

  .identity .text-lower {
    padding-left: 0%;
  }
}

@media only screen and (max-width : 600px) {
  .identity .header-image-responsive {
    padding-top: 6%;
  }
}

@media only screen and (min-width : 891px) {
  .identity .header-image-responsive {
    display: none;
  }
}

.text-get-listed {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.btn-custom{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #00c9f3;
  border: medium none;
  border-radius: 0;
  height: 38px;
}
.navbar-nav > li > a{
  font-size: 14px;
  font-weight: 500;
}

.navbar-nav > li > a.btn-custom{
  margin-left: 20px;
  margin-right: 0;
  padding: 9px 10px;
  height: 36px;
  font-weight: 600;
  font-size: 13px;
}

.collapsing .navbar-nav > li > a.btn-custom{
  margin-left: 25px;
}
.in .navbar-nav > li > a.btn-custom {
  margin-left: 25px;
  margin-bottom: 5px;
}

.in .navbar-nav, .collapsing .navbar-nav{
  margin: 7.5px -10px
}
//.btn-submit {
//  background-color: #00c9f3;
//  border: medium none;
//  border-radius: 0;
//  height: 35px;
//  width: 111px;
//  margin-top: 14px;
//}

@media screen and (max-width: 650px) {
  .identity .text-upper {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .identity .text-upper .text-upper-identity{
    font-size: 24px;
    padding-top: 0px;
  }

  .identity .text-lower .text-lower-identity {
    font-size: 24px;
    padding-left: 0%;
    text-align: center;
  }
}

.statistics {
  background: #ffffff none repeat scroll 0 0;
  color: white;
  /*height: 300px;*/
  padding: 65px 0 100px;
  font-family: Helvetica Neue, Roboto, sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #dcbda1;
}

.statistics .text-top {
  font-family: Georgia, serif;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 35px;
  line-height: 1.2;
  color: #ff8500;
}

.statistics .stats-block {
  display: inline-block;
  width: 33%;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .statistics .stats-block {
    width: 49%;
    padding-bottom: 20px;
  }
}

.stats-block span {
  display: block;
}

.stats-block .numeric {
  font-size: 44px;
  font-family: 'Varela', sans-serif;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 2px;
}

.stats-block .textual {
  font-size: 20px;
  font-weight: 300;
  padding-left: 4px;
  color: #00aeef;
}

.about-us {
  background-image: image-url("about-us.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 60px 0;
  border-bottom: 1px solid #dcbda1;
  font-weight: 300;
}

.about-us .text-top {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 20px;
}

.about-us .text-description {
  color: white;
  font-family: Helvetica Neue,Roboto,sans-serif;
  font-size: 56px;
  font-weight: 200;
  line-height: 1.2;
  margin-top: 15px;
}

@media screen and (max-width: 1010px) {
  .about-us .text-description {
    font-size: 50px;
  }
}

.about-us-block {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  width: 127px;
  margin-right: 50px;
}

.about-us-block span {
  display: block;
  line-height: 1;
  margin-bottom: 16px;
  text-align: left;
}

.about-us-block .textual {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Varela', sans-serif;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 953px) {
  .about-us-block{
    margin-right: 16px;
  }
}

@media screen and (max-width: 768px){

  .about-us-block {
    display: inline-block;
    width: 100%;
  }

  .about-us-block span {
    text-align: center;
  }

  .about-us .text-description {
    font-size: 28px;
  }

  .about-us-block .textual {
    padding-left: 0;
    width: auto;
  }
}

.influencers {
  padding: 61px 0 50px;
  border-bottom: 1px solid #dcbda1;
}

.influencers .text-top {
  font-family: Georgia, serif;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 1.2;
  color: #ff8500;
  text-align: right;
  display: inline;
}

.influencers .text-block {
  font-family: Georgia, serif;
  font-size: 22px;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 15px;
  font-weight: normal;
  color: #00aeef;
}
//
//.sign-up {
//  margin-left: 860px;
//  margin-right: 0px;
//  padding: 9px 10px;
//  height: 36px;
//  font-weight: 600;
//  font-size: 13px;
//  text-align: left;
//  display: inline;
//}

.influencers .brands-block .popover {
  background: #ebebeb;
  border-radius: 1px;
  margin-top: 70px;
  text-align: center;
}

@media (max-width: 900px) {
  .influencers .brands-block .popover {
    margin-top: 65px;
  }
}

@media (max-width: 767px) {
  .influencers .brands-block .popover {
    margin-top: 60px;
  }
}

.influencers .brands-block .popover-content {
  padding: 0;
}

.brands {
  padding: 61px 0 100px;
  border-bottom: 1px solid #dcbda1;
}

.collapsing{
  background-color: #ffffff;
  float: left;
  width: 100%;
}

.brands .text-top {
  font-family: Georgia, serif;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 1.2;
  color: #ff8500;
}

.brands .text-block {
  font-family: Georgia, serif;
  font-size: 22px;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 15px;
  font-weight: normal;
  color: #00aeef;
}

.brands-block span {
  display: inline-block;
  /*float: left;*/
  text-align: left;
  width: 18%;
  vertical-align: top;
}
/*//brand*/
@media screen and (max-width: 900px) {
  .brands {
    //padding-right: 20px;
  }
}

@media screen and (max-width: 768px){
  .brands-block {
    display: inline-block;
    width: 100%;
  }

  .brands-block span {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
}

.contact-us {
  background-color: #ffffff;
  //background-image: image-url("get-in-touch.png");
  //background-size: cover;
  //background-position: 50%;
  //background-repeat: no-repeat;
  -webkit-filter: saturate(1.5);
  filter: saturate(1.5);
}

.contact-form {
  padding: 60px 0;
}

.contact-form .form-control {
  background-color: #f5f6f8;
  border-radius: 2px;
  font-family: Varela;
  padding: 13px 17px;
  border-color: #00aeef;
}
.contact-us .contact-form input[type="text"],input[type="email"],input[type="tel"]{
  height: 48px;
}

.form-group{
  margin-bottom: 11px;
}

@media (max-width: 500px) {
  .contact-form {
    /*padding: 20px 20px;*/
  }
}

.contact-us .text-top {
  font-family: Georgia, serif;
  color: #ff8500;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  padding-left: 0;
  padding-bottom: 34px;
}

.footer {
  padding: 11px 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: 12px;
  font-family: 'Hind', sans-serif;
  margin: 0;
}

.footer-info-padding{
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 600px){
  .footer {
    //height: 98px;
  }
}

/* text style */
#myNavbar .text-white{
  color: #ffffff;
}

.my-nav-bar{
  float: left;
  font-family: Hind, sans-serif;
}
.my-nav-bar:after{
  content: '';
  clear: both;
}
@media (min-width: 768px) {
  .my-nav-bar{
    float: right;
  }
}

.navbar-collapse.in{
  background-color:#ffffff ;
}
.rights-reserved {
  font-family: Arial,Verdana,Helvetica,sans-serif;
}

.fb-twitter {
  float: none;
  margin-top: 5px;
  //padding-left: 38%;
}
.fb-twitter a{
  text-decoration: none;

}
.fb-twitter:after{
  content:'';
  display:block;
  clear: both;
}

.top_links .fb-twitter a{
  color: #000000;
}

.footer .fb-twitter a{
  color: #ffffff;
}

.fb-twitter .fa{
  line-height: 16px;

  &.fa-google-plus{
    font-size: 1.2em;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px){
  .fb-twitter {
    float: right;
    margin-top: 0;
    padding: 0;
  }
}

.space {
  padding-right: 22px;
}

.fa-lg {
  line-height: 1.5;
  font-size: 1.5em;
}

/* media query section */

@media only screen and (max-width: 767px) {
  .home-menu > ul > li > a {
    padding: 10px;
  }

  .home-menu > ul > li:nth-child(1) {
    margin-top: 15px;
  }

}

.influencers-picture {
  border-radius: 50%;
  width:117px;
  height:117px;
  overflow: hidden;
}

.brands-block img.resize {

}

#myNavbar .active {
  color: #00aeef;
}

.few-brand {
  letter-spacing: -0.6px;
}

.statistics .posts-padding {
  float: right;
  width: auto;
}

@media screen and (max-width: 900px) {
  .statistics .posts-padding {
    clear: right;
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .statistics .stats-block {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
  }
}

.helvetica-neue-light {
  font-family: 'Helvetica Neue 45 Light','Roboto', sans-serif;
}

.raleway-semibold {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

#mfPreviewBar {
  display: none;
}


.influencer-text {
  width: 460px;
}

@media only screen and (max-width: 768px) {

  .my-nav-bar{
    float: none;
    text-align: center;
  }

  .navbar-nav > li > a.btn-custom {
    margin-right: 16px;
  }

  .navbar-collapse.in {
    overflow-y: visible ;
  }

  .contact-form .btn-submit {
    width: 100%;
    margin-right: 10px;
  }

  .footer-info-padding, .contact-form .text-top, .brands .text-top, .brands .few-brand, .influencers .text-block, .brands .text-block, .about-us .text-top, .statistics .text-top, .what-we-do .text-top, .what-is-influencer-marketing .text-top, .identity, .about-us .text-description, .fb-twitter {
    text-align: center;
  }

  .statistics {
    //padding-left: 20px;
  }

  .statistics .text-top {
    font-size: 24px;
    //margin-left: -30px;
  }

  .identity {
    margin-top: 0;
    background-color: #ffffff;
  }

  .about-us .text-description br {
    display: none;
  }

  .statistics {
    padding-bottom: 40px;
  }

  .brands {
    padding-bottom: 50px;
    background-color: white;
  }

  .influencer-text {
    width: 100%;
  }

  .brands .text-top {
    font-size: 24px;
  }
}

@media only screen and (max-width: 810px) {
  .navbar-nav > li > a {
    margin: 0 13px;
  }
}

@media only screen and (max-width: 787px) {
  .navbar-nav > li > a {
    margin: 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .statistics .posts-padding {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .influencer-text {
    width: 100%;
  }
}

.about-us-block img {
  height: 127px;
  width: 127px;
}
.welcome_bar {
  background: rgba(255,255,255, 0.9) none repeat scroll 0 0;
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  padding: 14px 0;
  position: relative;
  width: 100%;
  z-index: 100;
}

.welcome_bar .left {
  float: left;
}

.welcome_bar .right {
  float: right;
}

.welcome_bar .right {
  float: right;
}

.welcome_bar p {
  float: left;
  margin: 0;
}

.welcome_bar p a {
  color: #000000;
  margin: 0 35px 0 0;
}

.socialmedia {
  float: right;
  margin: 0 0 0 3px;
}

.socialmedia .space{
  display: inline-block;
  padding-left: 5px;
  padding-right: 0;
}

.navbar-toggle{
  padding-right: 0;
  margin-right: 0;
}

.last-nav-item{
  margin-right: -15px;
}

//faq, sign_in page style
.non-home-page-wrapper{
  margin-top: 55px;
  padding-bottom: 20px;
  padding-top: 62px;
}

.faq-container{
  margin-bottom: 20px;
}

/*====  comment for making fixed navigation bar for all device ===== */
//@media (max-width: 767px){
//  .faq-container{
//    margin-top: 20px;
//    padding-top: 0;
//  }
//}

.panel-body, .list-group{
  display: none;
}

html, body, .sticky-footer-wrapper{ height: 90%; }
body > .sticky-footer-wrapper{
  height: auto;
  min-height: 100%;
}

.footer-non-home-page {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  background-color: rgba(0 , 0, 0, 0.5);
}

@media (max-width: 767px)  {
  .footer-non-home-page {
    height: 60px;
    margin-top: 0;
  }
}

.sticky-footer-wrapper{
  padding-bottom: 3em;
}

// sign in page  style sheet

.sign-in-form-container{
  margin: 62px auto 20px;
  padding-top: 53px;
  width: 400px;
}

@media (max-width: 767px) {
  .sign-in-form-container{
    margin-top: 0;
    padding-top: 10px;
  }

  .welcome_bar .left {
    padding-top: 5px;
  }

  .logo {
    margin-top: 2px;
  }

  .logo-container .navbar-toggle {
    margin-top: 4px;
  }
}

.what-is-influencer-marketing {
  padding: 60px 0;
  border-bottom: 1px solid #dcbda1;
  background: image-url("influencer_marketing_medium.png");
  background-size: 40% 77%;
  background-position: 90%;
  background-repeat: no-repeat;

}

.what-is-influencer-marketing .text-top {
  font-family: Georgia, serif;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 1.2;
  color: #ff8500;
}

.influencer-marketing-responsive {
  width: 52%;
  display: inline-block;
}

.what-is-influencer-marketing .text-description {
  font-family: Georgia,serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #00aeef;
  text-align: justify;
  text-align-last: center;
}

//.what-is-influencer-marketing .influencer-marketing-image-right {
//  width: 45%;
//  float: right;
//  display: inline-block;
//  height: auto;
//}

@media screen and (min-width: 768px) {
  .what-is-influencer-marketing .influencer-marketing-image-medium {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .what-is-influencer-marketing {
    background: none;
    background-color: #ffffff;
  }
  .what-is-influencer-marketing .influencer-marketing-image-right {
    display: none;
  }

  .what-is-influencer-marketing .influencer-marketing-image-medium {
    max-width: 1000px;
    display: block;
  }

  .influencer-marketing-mobile-image {
    width: 100%;
  }

  .influencer-marketing-responsive {
    width: 100%;
    display: block;
  }

  .what-is-influencer-marketing .text-description {
    padding-bottom: 15px;
  }

  .what-is-influencer-marketing .text-top {
    font-size: 24px;
  }
}

@media screen and (max-width: 881px){
  .influencer-marketing-image {
    padding-top: 20%;
  }
}

@media screen and (max-width: 797px){
  .influencer-marketing-image {
    padding-top: 36%;
  }
}

.what-we-do {
  background-color: #ffffff;
  padding: 60px 0;
  border-bottom: 1px solid #dcbda1;
  font-weight: 300;
}

.what-we-do .text-top {
  font-family: Georgia, serif;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 1.2;
  color: #ff8500;
}

.what-we-do .text-description {
  font-family: Georgia,serif;
  color: #00aeef;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 15px;
  text-align: justify;
  text-align-last: center;
}

@media screen and (max-width: 1010px) {
  .what-we-do .text-description {
    font-family: Georgia,serif;
    font-size: 16px;
  }
}

.what-we-do-block {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  width: 127px;
  margin-right: 50px;
}

.what-we-do-block span {
  display: block;
  line-height: 1;
  margin-bottom: 16px;
  text-align: left;
}

.what-we-do-block .textual {
  color: #00aeef;
  font-size: 20px;
  font-family: Helvetica Neue, Roboto, sans-serif;
  text-align: center;
}

@media screen and (max-width: 953px) {
  .what-we-do-block{
    margin-right: 16px;
  }
}

@media screen and (max-width: 768px){

  .what-we-do .text-top {
    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    color: #ff8500;
  }

  .what-we-do-block {
    display: inline-block;
    width: 100%;
  }

  .what-we-do-block span {
    text-align: center;
  }

  .what-we-do .text-description {
    font-family: Georgia,serif;
    font-size: 16px;
  }

  .what-we-do-block .textual {
    padding-left: 0;
    width: auto;
  }
}

.what-we-do-picture {
  border-radius: 50%;
  width:117px;
  height:117px;
  overflow: hidden;
}

@media (max-width: 980px) {
  .influencer-marketing-image {
    width: 100%;
  }
}