/* all page content wrapper */

@font-face {
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: normal;
  src: font-url('century-gothic.eot');
  src: font-url('century-gothic.eot?#iefix') format('embedded-opentype'),
  //font-url('century-gothic.woff') format('woff'),
  font-url('century-gothic.ttf') format('truetype'),
  font-url('century-gothic.svg') format('svg');
}

@font-face {
  font-family: 'Chaparral Pro Regular';
  font-weight: normal;
  font-style: normal;
  src: font-url('chaparral-pro-regular.eot');
  src: font-url('chaparral-pro-regular.eot?#iefix') format('embedded-opentype'),
    //font-url('century-gothic.woff') format('woff'),
  font-url('chaparral-pro-regular.ttf') format('truetype'),
  font-url('chaparral-pro-regular.svg') format('svg');
}

.wrapper-content{
  max-width: 1010px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper-content .few-brand {
  color: rgba(0, 0, 0, 0.927);
}

@media  (max-width: 767px){


}
/*.clear-padding-margin{*/
/*padding-right: 0;*/
/*margin: 0;*/
/*}*/
@media  (min-width: 768px){
  .clear-padding-margin{
    padding-right: 0;
    margin: 0;
  }
}

.only-right-padding{
  padding-right: 15px;
}

/* */
.header {
  color: black;
  font-weight: lighter;
  border-bottom: 1px solid #00c9f3;
  position: fixed;
  //top: 50px;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: white;
}

//@media screen and (min-width: 768px) {
//  .header {
//    position: fixed;
//    //top: 50px;
//    right: 0;
//    left: 0;
//    z-index: 99;
//    background-color: white;
//  }
//  .welcome_bar{
//    z-index: 100;
//  }
//
//}
@media (min-width: 1072px) {

}

.navbar{
  margin-bottom: 0;
  min-height: 30px;
  padding-bottom: 1px;
}

.navbar-collapse{
  padding: 0;
}

.navbar .navbar-toggle .icon-bar {
  background-color: black;
}

.nav li > a:hover, .nav li > a:focus {
  background-color: #00b6e2;
  color: #00aeef;
}

.nav li:last-child > a:hover, .nav li:last-child > a:focus {
  background-color: #00b6e2;
  color: #00aeef;
}

.brands .brands-block .popover {
  background: #ebebeb;
  border-radius: 1px;
  margin-top: 70px;
  text-align: center;
}

@media (max-width: 900px) {
  .brands .brands-block .popover {
    margin-top: 65px;
  }
}

@media (max-width: 767px) {
  .brands .brands-block .popover {
    margin-top: 60px;
  }
}

.brands .brands-block .popover-content {
  padding: 0;
}

.popover-title{
  background: #ebebeb;
}

.popover.bottom .arrow:after {
  border-bottom-color: #ebebeb;
}

.navbar-nav > li > a{
  color: #000000;
  margin: 0 16px;
  padding: 9px 0;
}

.navbar-nav > li:last-child  > a {
  padding: 9px 9px;
}

.header span {
  display: block;
}

.logo {
  float: left;
  position: relative;
  z-index: 1;
  padding-bottom: 5px;
}

.links {
  float: right;
}

ul.menu-item {
  list-style: none;
  float: left;
}

@media (max-width: 749px) {
  ul.menu-item{
    display: none;
  }
}

ul.menu-item li {
  display: inline;
  padding: 0 20px;
}

.menu-item li a {
  color: #333333;
}

.menu-item li.active a {
  color: #00AEEF;
}

.btn-theme {
  background-color: #00aeef;
  border: medium none;
}

.identity {
  background: image-url("header-image-new.png") no-repeat scroll center center / cover ;
  background-size: 100% 110%;
  height: 620px;
  padding-top: 70px;
  margin-top: 12px;
}

.identity .text-upper {
  color: #ffffff;
  letter-spacing: 2px;
  padding-top: 135px;
  padding-bottom: 10px;
  text-shadow: -5px 1px 0px rgba(0, 0, 0, 0.5);
}

.identity .text-upper-identity {
  font-family: 'Century Gothic';
  font-size: 28pt;
  font-weight: bold;
  line-height: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

.identity .analytics-image {
  width: 42%;
}

//.identity .text-lower {
//  font-family: 'Varela', sans-serif;
//  font-weight: 500;
//  color: #00aeef;
//  font-size: 30px;
//  line-height: 1.2;
//  letter-spacing: -0.6px;
//}

//.identity .text-lower-identity {
//  font-family: 'Varela', sans-serif;
//  font-weight: 500;
//  font-size: 30px;
//  margin-top: 0;
//  margin-bottom: 0;
//  line-height: 1.2;
//}

.text-get-listed {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.btn-custom{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #156487;
  border: medium none;
  border-radius: 0;
  height: 38px;
}

.navbar-nav > li > a.btn-custom:hover {
  background-color: #00c9f3;
}

.navbar-nav > li > a{
  font-size: 14px;
  font-weight: 500;
}

@media all and (max-width: 767px) {
  .navbar-nav > li > a{
    padding-top: 20px;
    width: 96%;
    background-color: #156487;
    border-radius: 25px;
    margin-left: 25px;
    margin-bottom: 5px;
    margin-right: 6px;
    height: 36px;
    color: white;
    font-weight: 600;
  }
}

.navbar-nav > li > a.btn-custom{
  margin-left: 20px;
  margin-right: 0;
  padding: 9px 10px;
  height: 36px;
  font-weight: 600;
  font-size: 13px;
  border-radius: 25px;
  width: 110px;
}

@media only screen and (max-width: 805px) {
  .navbar-nav > li > a.btn-custom {
    margin-right: 1px;
    margin-left: 2px;
  }
}

@media only screen and (max-width: 805px) {
  .navbar-nav > li > a.btn-custom {
    margin-right: 6px;
    margin-left: 6px;
  }
}

@media only screen and (max-width: 850px) {
  .navbar-nav > li > a.btn-custom {
    width: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-nav > li > a.btn-custom {
    width: 96%;
  }
}

.collapsing .navbar-nav > li > a.btn-custom{
  margin-left: 25px;
}

.in .navbar-nav > li > a.btn-custom {
  margin-left: 25px;
  margin-bottom: 5px;
}

.in .navbar-nav, .collapsing .navbar-nav{
  margin: 7.5px -10px
}
//.btn-submit {
//  background-color: #00c9f3;
//  border: medium none;
//  border-radius: 0;
//  height: 35px;
//  width: 111px;
//  margin-top: 14px;
//}

@media screen and (max-width: 700px) {
  .identity .text-upper-identity {
    font-size: 22pt;
  }
}

.statistics {
  background: #333333 none repeat scroll 0 0;
  color: white;
  /*height: 300px;*/
  padding: 65px 0 100px;
  font-family: Helvetica Neue, Roboto, sans-serif;
  font-weight: 300;
}

.statistics .text-top {
  font-size: 30px;
  padding-bottom: 35px;
}

.statistics .stats-block {
  display: inline-block;
  width: 29.8%;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .statistics .stats-block {
    width: 49%;
    padding-bottom: 20px;
  }
}

.stats-block span {
  display: block;
}

.stats-block .numeric {
  font-size: 44px;
  font-family: 'Varela', sans-serif;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 2px;
}

.stats-block .textual {
  font-size: 20px;
  font-weight: 300;
  padding-left: 4px;
}

.about-us {
  background-image: image-url("Image-part-2.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 60px 0;
  //border-bottom: 1px solid #dcbda1;
  font-weight: 300;
}

.about-us .text-top {
  font-family: 'Comic Sans MS';
  font-size: 40pt;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 20px;
  margin-top: 100px;
}

.about-us .text-description {
  color: white;
  font-family: 'Century Gothic';
  font-size: 15pt;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 40px;
  margin-bottom: 68px;
  width: 55%;
}

@media screen and (max-width: 768px){
  .about-us .text-description {
    font-size: 20px;
  }
}

.influencers {
  background-image: image-url("Image-part-3.png");
  background-size: 100% 100%;
  background-position: 0%;
  background-repeat: no-repeat;
  padding: 60px 0;
  font-weight: 300;
  //min-height: 100%;
}

.influencers-text-top-image {
  float: right;
}

.influencers .text-top {
  font-family: 'Comic Sans MS';
  font-size: 40pt;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 20px;
  margin-top: 108px;
}

.influencers .text-description {
  color: white;
  font-family: 'Century Gothic';
  font-size: 15pt;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 110px;
  margin-bottom: 68px;
  margin-left: 40%;
  //width: 55%;
  //float: right;
  //clear: right;
  text-align: right;
}

@media screen and (max-width: 768px){
  .influencers .text-description {
    font-size: 20px;
  }
}

.brands {
  padding: 61px 0 100px;
}

.collapsing{
  background-color: #ffffff;
  float: left;
  width: 100%;
}

.brands .text-top {
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 20px;
}

.brands-block span {
  display: inline-block;
  /*float: left;*/
  text-align: left;
  width: 18%;
  vertical-align: top;
}

/*//brand*/
@media screen and (max-width: 900px) {
  .brands {
    //padding-right: 20px;
  }
}

@media screen and (max-width: 768px){
  .brands-block {
    display: inline-block;
    width: 100%;
  }

  .brands-block span {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
}

.contact-us {
  background-image: image-url("Image-part-5.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-filter: saturate(1.5);
  filter: saturate(1.5);
}

.contact-form {
  padding: 60px 0;
}

.contact-form .form-control {
  background-color: #f5f6f8;
  border-radius: 2px;
  font-family: Varela;
  padding: 13px 17px;
}
.contact-us .contact-form input[type="text"],input[type="email"],input[type="tel"]{
  height: 48px;
}
.form-group{
  margin-bottom: 11px;
}

@media (max-width: 500px) {
  .contact-form {
    /*padding: 20px 20px;*/
  }
}

.contact-us .text-top {
  font-family: 'Chaparral Pro Regular';
  color: #ffffff;
  font-size: 46.6pt;
  font-weight: normal;
  padding-left: 0;
  padding-bottom: 34px;
}

.footer {
  padding: 11px 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 12px;
  font-family: 'Hind', sans-serif;
  margin: 0;
}

.footer-info-padding{
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 600px){
  .footer {
    //height: 98px;
  }
}

/* text style */
#myNavbar .text-white{
  color: #ffffff;
}

.my-nav-bar{
  float: left;
  font-family: Hind, sans-serif;
}
.my-nav-bar:after{
  content: '';
  clear: both;
}
@media (min-width: 768px) {
  .my-nav-bar{
    float: right;
  }
}

.navbar-collapse.in{
  background-color:#ffffff ;
}
.rights-reserved {
  font-family: Arial,Verdana,Helvetica,sans-serif;
}

.fb-twitter {
  float: none;
  margin-top: 5px;
  //padding-left: 38%;
}
.fb-twitter a{
  text-decoration: none;

}
.fb-twitter:after{
  content:'';
  display:block;
  clear: both;
}
.fb-twitter a{
  color: #fff;
}
.fb-twitter .fa{
  line-height: 16px;

  &.fa-google-plus{
    font-size: 1.2em;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px){
  .fb-twitter {
    float: right;
    margin-top: 0;
    padding: 0;
  }
}

.space {
  padding-right: 22px;
}

.fa-lg {
  line-height: 1.5;
  font-size: 1.5em;
}

/* media query section */

@media only screen and (max-width: 767px) {
  .home-menu > ul > li > a {
    padding: 10px;
  }

  .home-menu > ul > li:nth-child(1) {
    margin-top: 15px;
  }
}

.influencers-picture {
  width:200px;
  height:270px;
  overflow: hidden;
  position: absolute;
  top: -96px;
  left: 20px;
}

.brands-block img.resize {

}

#myNavbar .active {
  color: #00aeef;
}

.few-brand {
  letter-spacing: -0.6px;
}

.statistics .posts-padding {
  float: right;
  width: auto;
}

@media screen and (max-width: 900px) {
  .statistics .posts-padding {
    clear: right;
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .statistics .stats-block {
    width: 100%;
    text-align: center
  }
}

.helvetica-neue-light {
  font-family: 'Helvetica Neue 45 Light','Roboto', sans-serif;
}

.raleway-semibold {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

#mfPreviewBar {
  display: none;
}


.influencer-text {
  width: 460px;
}

@media only screen and (max-width: 768px) {
  .my-nav-bar{
    float: none;
    text-align: center;
  }

  .navbar-collapse.in {
    overflow-y: visible ;
  }

  .contact-form .btn-submit {
    width: 100%;
    margin-right: 10px;
  }

  .footer-info-padding, .contact-form .text-top, .brands .few-brand, .statistics .text-top, .identity, .fb-twitter {
    text-align: center;
  }

  .statistics {
    //padding-left: 20px;
  }

  .statistics .text-top {
    //margin-left: -30px;
  }

  .identity {
    margin-top: 0;
  }

  .about-us .text-description br {
    display: none;
  }

  .statistics {
    padding-bottom: 140px;
  }

  .brands {
    padding-bottom: 50px;
    background-color: white;
  }

  .influencer-text {
    width: 100%;
  }

}

@media screen and (max-width: 500px) {
  .statistics .posts-padding {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .influencer-text {
    width: 100%;
  }
}

.about-us-block img {
  height: 127px;
  width: 127px;
}
.welcome_bar {
  background: #26ace2 none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  padding: 14px 0;
  position: relative;
  width: 100%;
  z-index: 100;
}

.welcome_bar .left {
  float: left;
}

.welcome_bar .right {
  float: right;
}

.welcome_bar .right {
  float: right;
}

.welcome_bar p {
  float: left;
  margin: 0;
}

.welcome_bar p a {
  color: #fff;
  margin: 0 35px 0 0;
}

.socialmedia {
  float: right;
  margin: 0 0 0 3px;
}

.socialmedia .space{
  display: inline-block;
  padding-left: 5px;
  padding-right: 0;
}

.navbar-toggle{
  padding-right: 0;
  margin-right: 0;
}

.last-nav-item{
  margin-right: -15px;
}

//faq, sign_in page style
.non-home-page-wrapper{
  margin-top: 55px;
  padding-bottom: 20px;
  padding-top: 62px;
}


.faq-container{
  margin-bottom: 20px;

}

/*====  comment for making fixed navigation bar for all device ===== */
//@media (max-width: 767px){
//  .faq-container{
//    margin-top: 20px;
//    padding-top: 0;
//  }
//}

.panel-body, .list-group{
  display: none;
}

html, body, .sticky-footer-wrapper{ height: 90%; }
body > .sticky-footer-wrapper{
  height: auto;
  min-height: 100%;
}

.footer-non-home-page {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  background-color: rgba(0 , 0, 0, 0.5);
}

@media (max-width: 767px)  {
  .footer-non-home-page {
    height: 60px;
    margin-top: 0;
  }
}

.sticky-footer-wrapper{
  padding-bottom: 3em;
}

// sign in page  style sheet

.sign-in-form-container{
  margin: 62px auto 20px;
  padding-top: 53px;
  width: 400px;
}

@media (max-width: 767px) {
  .sign-in-form-container{
    margin-top: 0;
    padding-top: 10px;
  }

  .welcome_bar .left {
    padding-top: 5px;
  }

  .logo {
    margin-top: 2px;
  }

  .logo-container .navbar-toggle {
    margin-top: 4px;
  }
}

.move-right {
  float: right;
}

.influencers-list {
  background-image: image-url("Image-part-4.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 60px 0;
  text-align: center;
}

.influencers-list .text-top {
  font-weight: 300;
  font-family:'Chaparral Pro Regular';
  font-size: 30pt;
  margin-bottom: 70px;
  text-align: center;
}

.influencers-list .influencers-list-block {
  display: inline-block;
  vertical-align: top;
  //margin-right: 50px;
  margin-top: 75px;
  margin-bottom: 130px;
  //margin-left: 6%;
  width: 33%;
}

.influencers-list .influencers-text-upper {
  font-family: 'Chaparral Pro Regular';
  font-style: italic;
  font-size: 26px;
}

.influencers-text-middle {
  font-family: 'Chaparral Pro Regular';
  font-style: italic;
  font-size: 18px;
}

.influencers-text-lower {
  font-family: 'Chaparral Pro Regular';
  font-style: italic;
  font-size: 26px;
  color: #000;
}

@media screen and (max-width: 865px) {
  .influencers-list .influencers-list-block {
    width: 100%;
  }
}

@media screen and (max-width: 412px) {
  .influencers-list .influencers-list-block {
    margin-bottom: 50%;
  }
}

@media screen and (max-width: 323px) {
  .influencers-list .influencers-list-block {
    margin-bottom: 65%;
  }
}

.red {
  color: #ff2222;
}

.white {
  color: white;
}

.black {
  color: black;
}

.shadow-blue {
  background-color: #156487;
  height: 270px;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.influencers-list-text {
  position: relative;
  bottom: -158px;
}

@media screen and (max-width: 768px) {
  .identity .text-upper {
    text-align: left;
  }

  .identity .image-lower p {
    text-align:left;
  }
}
