/* all page content wrapper */
.wrapper-content{
  max-width: 1010px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper-content .few-brand {
  color: rgba(0, 0, 0, 0.927);
}

@media  (max-width: 767px){


}
/*.clear-padding-margin{*/
/*padding-right: 0;*/
/*margin: 0;*/
/*}*/
@media  (min-width: 768px){
  .clear-padding-margin{
    padding-right: 0;
    margin: 0;
  }

}
.only-right-padding{
  padding-right: 15px;
}

/* */
.header {
  color: black;
  font-weight: lighter;
  border-bottom: 1px solid #00c9f3;
//  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: white;
  }
  .welcome_bar{
    z-index: 100;
  }

}
@media (min-width: 1072px) {

}

.navbar{
  margin-bottom: 0;
  min-height: 30px;
  padding-bottom: 1px;
}
.navbar-collapse{
  padding: 0;
}
.navbar .navbar-toggle .icon-bar {
  background-color: black;
}

.nav li > a:hover, .nav li > a:focus {
  background-color: white;
  color: #00aeef;
}

.nav li:last-child > a:hover, .nav li:last-child > a:focus {
  background-color: #127bb2;
  color: #00aeef;
}

.brands .brands-block .popover {
  background: #ebebeb;
  border-radius: 1px;
  margin-top: 70px;
  text-align: center;
}

@media (max-width: 900px) {
  .brands .brands-block .popover {
    margin-top: 65px;
  }
}

@media (max-width: 767px) {
  .brands .brands-block .popover {
    margin-top: 60px;
  }
}

.brands .brands-block .popover-content {
  padding: 0;
}

.popover-title{
  background: #ebebeb;
}

.popover.bottom .arrow:after {
  border-bottom-color: #ebebeb;
}

.navbar-nav > li > a{
  color: #000000;
  margin: 0 16px;
  padding: 9px 0;
}

.navbar-nav > li:last-child  > a {
  padding: 9px 9px;
}

@media all and (max-width: 767px) {
  .navbar-nav > li > a{
    padding-top: 20px;
  }
}

.header span {
  display: block;
}

.logo {
  float: left;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}

.links {
  float: right;
}

ul.menu-item {
  list-style: none;
  float: left;
}

@media (max-width: 749px) {
  ul.menu-item{
    display: none;
  }
}

ul.menu-item li {
  display: inline;
  padding: 0 20px;
}

.menu-item li a {
  color: #333333;
}

.menu-item li.active a {
  color: #00AEEF;
}

.btn-theme {
  background-color: #00aeef;
  border: medium none;
}

.identity {
  background: image-url("Pic1.png") no-repeat scroll center center / cover ;
  height: 620px;
  padding-top: 70px;
  margin-top: 12px;
}

.identity .text-upper {
  font-family: 'Helvetica Neue 35 Thin', sans-serif;
  font-size: 74px;
  letter-spacing: -0.6px;
  padding-top: 135px;
  line-height: 1;
  padding-bottom: 10px;
}

.identity .text-lower {
  font-family: 'Varela', sans-serif;
  font-weight: 500;
  color: #00aeef;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.6px;
}

.text-get-listed {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.btn-custom{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #00c9f3;
  border: medium none;
  border-radius: 0;
  height: 38px;
}
.navbar-nav > li > a{
  font-size: 14px;
  font-weight: 500;
}

.navbar-nav > li > a.btn-custom{
  margin-left: 20px;
  margin-right: 0;
  padding: 9px 10px;
  height: 36px;
  font-weight: 600;
  font-size: 13px;
}

.collapsing .navbar-nav > li > a.btn-custom{
  margin-left: 25px;
}
.in .navbar-nav > li > a.btn-custom {
  margin-left: 25px;
  margin-bottom: 5px;
}

.in .navbar-nav, .collapsing .navbar-nav{
  margin: 7.5px -10px
}
.btn-submit {
  background-color: #00c9f3;
  border: medium none;
  border-radius: 0;
  height: 35px;
  width: 111px;
  margin-top: 14px;
}

@media screen and (max-width: 650px) {
  .identity .text-upper {
    font-size: 55px;

  }
}

.statistics {
  background: #333333 none repeat scroll 0 0;
  color: white;
  /*height: 300px;*/
  padding: 65px 0 100px;
  font-family: Helvetica Neue, Roboto, sans-serif;
  font-weight: 300;
}

.statistics .text-top {
  font-size: 30px;
  padding-bottom: 35px;
}

.statistics .stats-block {
  display: inline-block;
  width: 26%;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .statistics .stats-block {
    width: 49%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .statistics .stats-block {
    width: 100%;
    text-align: center
  }
}

.stats-block span {
  display: block;
}

.stats-block .numeric {
  font-size: 44px;
  font-family: 'Varela', sans-serif;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 2px;
}

.stats-block .textual {
  font-size: 20px;
  font-weight: 300;
  padding-left: 4px;
}

.about-us {
  background-image: image-url("Pic2.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 60px 0;
  border-bottom: 1px solid #dcbda1;
  font-weight: 300;
}

.about-us .text-top {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 20px;
}

.about-us .text-description {
  color: white;
  font-family: Helvetica Neue,Roboto,sans-serif;
  font-size: 56px;
  font-weight: 200;
  line-height: 1.2;
  margin-top: 15px;
}

@media screen and (max-width: 1010px) {
  .about-us .text-description {
    font-size: 50px;
  }
}

.about-us-block {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  width: 127px;
  margin-right: 50px;
}

.about-us-block span {
  display: block;
  line-height: 1;
  margin-bottom: 16px;
  text-align: left;
}

.about-us-block .textual {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Varela', sans-serif;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .about-us {
    //padding-right: 20px;
  }
}

@media screen and (max-width: 768px){

  .about-us-block {
    display: inline-block;
    width: 100%;
  }

  .about-us-block span {
    text-align: center;
  }

  .about-us .text-description {
    font-size: 28px;
  }

  .about-us-block .textual {
    padding-left: 0;
    width: auto;
  }
}

.brands {
  padding: 61px 0 100px;
}

.collapsing{
  background-color: #ffffff;
  float: left;
  width: 100%;
}

.brands .text-top {
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 20px;
}

.brands-block span {
  display: inline-block;
  /*float: left;*/
  text-align: left;
  width: 18%;
  vertical-align: top;
}
/*//brand*/
@media screen and (max-width: 900px) {
  .brands {
    //padding-right: 20px;
  }
}

@media screen and (max-width: 768px){
  .brands-block {
    display: inline-block;
  }

  .brands-block span {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
}

//@media screen and (max-width: 750px) {
//  .brands-block span {
//    width: 30%;
//  }
//  .brands-block {
//    text-align: center;
//  }
//}
//
//@media screen and (max-width: 500px){
//
//  .brands-block span img {
//    width: 75px;
//  }
//}



.contact-us {
  background-image: image-url("Pic3.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-filter: saturate(1.5);
  filter: saturate(1.5);
}

.contact-form {
  padding: 60px 0;
}

.contact-form .form-control {
  background-color: #f5f6f8;
  border-radius: 2px;
  font-family: Varela;
  padding: 13px 17px;
}
.contact-us .contact-form input[type="text"],input[type="email"],input[type="tel"]{
  height: 48px;
}
.form-group{
  margin-bottom: 11px;
}

@media (max-width: 500px) {
  .contact-form {
    /*padding: 20px 20px;*/
  }
}

.contact-us .text-top {
  color: #ffffff;
  font-size: 30px;
  font-weight: 100;
  padding-left: 0;
  padding-bottom: 34px;
}

.footer {
  padding: 11px 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 12px;
  font-family: 'Hind', sans-serif;
  margin: 0;
}
.footer-info-padding{
  padding-left: 15px;
}

@media  (min-width: 1010px){
  .footer-info-padding{
    padding-left: 0;
  }
}
@media screen and (max-width: 600px){
  .footer {
    //height: 98px;
  }
}

@media screen and (max-width: 580px){

}

/* text style */
#myNavbar .text-white{
  color: #ffffff;
}

.my-nav-bar{
  float: left;
  font-family: Hind, sans-serif;
}
.my-nav-bar:after{
  content: '';
  clear: both;
}
@media (min-width: 768px) {
  .my-nav-bar{
    float: right;
  }
}

.navbar-collapse.in{
  background-color:#ffffff ;
}
.rights-reserved {
  font-family: Arial,Verdana,Helvetica,sans-serif;
}

.fb-twitter {
  float: none;
  margin-top: 5px;
  //padding-left: 38%;
}
.fb-twitter a{
  text-decoration: none;

}
.fb-twitter:after{
  content:'';
  display:block;
  clear: both;
}
.fb-twitter a{
  color: #fff;
}
.fb-twitter .fa{
  line-height: 16px;

  &.fa-google-plus{
    font-size: 1.2em;
  }
}


@media screen and (min-width: 768px){
  .fb-twitter {
    float: right;
    margin-top: 0;
    padding: 0;
  }
}

@media screen and (max-width: 800px){

}

.space {
  padding-right: 22px;
}

.fa-lg {
  line-height: 1.5;
  font-size: 1.5em;
}

/* media query section */

@media only screen and (max-width: 767px) {
  .home-menu > ul > li > a {
    padding: 10px;
  }

  .home-menu > ul > li:nth-child(1) {
    margin-top: 15px;
  }

}

.influencers-picture {
  border-radius: 50%;
  width:117px;
  height:117px;
  overflow: hidden;
}

.brands-block img.resize {

}

#myNavbar .active {
  color: #00aeef;
}

.few-brand {
  letter-spacing: -0.6px;
}

.statistics .posts-padding {
  float: right;
  width: auto;
}

@media screen and (max-width: 900px) {
  .statistics .posts-padding {
    clear: right;
    width: 49%;
  }
}

.helvetica-neue-light {
  font-family: 'Helvetica Neue 45 Light','Roboto', sans-serif;
}

.raleway-semibold {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

#mfPreviewBar {
  display: none;
}

@media only screen and (max-width: 767px) {

  .my-nav-bar{
    float: none;
    text-align: center;
  }

  .navbar-nav > li > a.btn-custom {
    margin-right: 16px;
  }

  .navbar-collapse.in {
    overflow-y: visible ;
  }

  .contact-form .btn-submit {
    width: 100%;
    margin-right: 10px;
  }

  .footer-info-padding, .contact-form .text-top, .brands .few-brand, .about-us .text-top, .statistics .text-top, .identity, .about-us .text-description, .fb-twitter {
    text-align: center;
  }

  .statistics {
    //padding-left: 20px;
  }

  .statistics .text-top {
    //margin-left: -30px;
  }

  .identity {
    margin-top: 0;
  }

  .about-us .text-description br {
    display: none;
  }

  .statistics {
    padding-bottom: 140px;
  }

  .brands {
    padding-bottom: 50px;
  }

}

@media screen and (max-width: 500px) {
  .statistics .posts-padding {
    width: 100%;
  }
}

.influencer-text {
  width: 460px;
}

@media screen and (max-width: 500px) {
  .influencer-text {
    width: 100%;
  }
}

.about-us-block img {
  height: 127px;
  width: 127px;
}
.welcome_bar {
  background: rgba(0, 201, 243, 1) none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  padding: 14px 0;
  position: relative;
  width: 100%;
}
.welcome_bar .left {
  float: left;
  padding-bottom: 5px;
}
.welcome_bar .right {
  float: right;
}
.welcome_bar .right {
  float: right;
}
.welcome_bar p {
  float: left;
  margin: 0;
}
.welcome_bar p a {
  color: #fff;
  margin: 0 35px 0 0;
}
.socialmedia {
  float: right;
  margin: 0 0 0 3px;
}
.socialmedia .space{
  display: inline-block;
  padding-left: 5px;
  padding-right: 0;
}
.navbar-toggle{
  padding-right: 0;
  margin-right: 0;
}
.last-nav-item{
  margin-right: -15px;
}

//faq, sign_in page style
.non-home-page-wrapper{
  margin-top: 62px;
  padding-bottom: 20px;
  padding-top: 62px;
}


.faq-container{
  margin-bottom: 20px;

}

@media (max-width: 767px){
  .faq-container{
    margin-top: 20px;
    padding-top: 0;
  }
}
.panel-body, .list-group{
  display: none;
}
html, body, .sticky-footer-wrapper{ height: 90%; }
body > .sticky-footer-wrapper{
  height: auto;
  min-height: 100%;
}

.footer-non-home-page {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}
@media (max-width: 767px)  {
  .footer-non-home-page {
    height: 70px;
    margin-top: 0;
  }
}
.sticky-footer-wrapper{
  padding-bottom: 3em;
}

// sign in page  style sheet

.sign-in-form-container{
  margin: 62px auto 20px;
  padding-top: 53px;
  width: 400px;
}
@media (max-width: 767px) {
  .sign-in-form-container{
    margin-top: 0;
    padding-top: 10px;
  }
}

