.contact-us {
    background-color: #f9f9f9;
}

.get-in-touch-form {
    border-radius: 3px;
    border: 1px solid #dddddd ;
    box-shadow: 0px 1px 1px #dddddd;
    margin: 25px 20px;
    background-color: #FFFFFF;
    padding-left: 70px;
    color: #797979;

}

.get-in-touch {
    padding-top: 50px;
    color: #ff305a;
    font-weight: 600;
}

.get-in-touch-category {
    padding-top: 40px;
}

.category-name, .message-name {
    vertical-align: top;
    margin-right: 16px;
    padding-top: 3px;
    font-weight: 500;
}

.category-list {
    width: 335px;
    padding: 5px;
    background-color: #FFFFFF;
    font-size: 13px;
}

.get-in-touch-message {
    padding-top: 10px;

}

.get-in-touch-message-textarea {
    resize: none;
    width: 465px;
}

.get-in-touch-submit {
    padding-left: 79px;
    margin-bottom: 150px;
}

.display-inline {
    display: inline-block;
}

@media  (max-width: 800px){
    .get-in-touch-form {
        padding-left: 50px;

    }

    .category-list {
        width: 230px;
        font-size: 12px;
    }

    .get-in-touch-message-textarea {
        width: 320px;
    }

    .get-in-touch-submit {
        padding-left: 80px;
    }

}

.get-in-touch-message li {
    color: red;
    padding-left: 78px;
    font-size: 100%;
}

@media (max-width: 480px){
    .get-in-touch-form {
        padding: 10px;
    }

    .get-in-touch {
        text-align: center;
    }

    .category-list {
        display: block;
        width: 100%;
        font-size: 12px;
    }

    .get-in-touch-submit {
        padding-left: 0;
    }

    .get-in-touch-submit-button {
        margin: 15px 0;
    }

    .get-in-touch-message-textarea, .get-in-touch-form button {
        width: 100%;
    }

    .get-in-touch-message li {
        padding-left: 0;
    }
}
