// Place all the styles related to the InfluencersHome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-modal-dialog {
  padding-top: 9.3%;
  height: 100%;
  width: 60%;
  font-family: 'Raleway', sans-serif;
}

.login-modal-content {
  height: 460px;
}

#loginModal .login-modal-header {
  height: 100px;
  padding: 32px 7%;
}

#loginModal .login-modal-body {
  padding: 32px 8%;
}

.login-modal-content .login-modal-header .login-modal-close {
  color: #bdbdbd;
  font-size: 4em;
  margin-top: -55px;
  opacity: 1.5;
  font-weight: 100;
}

.login-modal-logo {

}

.login-modal-body {
  padding: 40px 7% 0;
}

.social-accounts-logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.social-accounts-logo a {
  background-color: #e6e6e6;
  color: #3a3a3a;
  padding: 14px 25px;
  text-decoration: none;
  margin-right: 15px;
}

.social-accounts-logo a:hover {
  color: #428bca;
}

.social-accounts-logo i {
  color: #428bca;
  font-size: 1.4em;
}


#loginModal {
  z-index: 1060;
}

.login-modal-footer {
  padding-top: 95px;
}

.influencer-identity {
  margin-top: 62px;
}

.identity .text-lower {
  letter-spacing: -0.6px;
}