.content-wrapper {
    height: 100%;
    background-color: #f9f9f9;
}
.payment-main-content{
    padding: 20px;
}

.table > thead > tr.payment-header > th {
    background-color: #eaeaea;
    color: #666666;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.2;
}

.table > tbody > tr > td {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #666666;
    vertical-align: middle;
    line-height: 1.2;
}

.space {
    margin-right: 4px;
}

.balance {
    margin-left: 3px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
}

.payment-div {
    margin: 0px 20px 0px 20px;
    height: 40px;
    position: relative;
    z-index: 101;
}

.btn-download {
    color: white;
    margin: 25px 3px 5px 5px;
    padding: 5px 20px 5px 20px;
    background-color: #f8c102;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 11pt;
}

.btn-withdraw {
    color: white;
    margin: 25px 5px 5px 3px;
    padding: 5px 30px 5px 30px;
    background-color: #f8c102;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 11pt;
}

.payment-button-set {
    text-align: right;
}


.amount-withdraw label {
    padding-right: 15px;
    color: #666666;
    font-weight: 300;

}

.amount-withdraw input {
    padding: 5px;
    width: 30%;

}

.influencer-payment-div .btn-withdraw{
    float: right;
    margin-top: 0;
}

.influencer-payment-div > .payment-balance {
    font-size: 15px;
    margin-left: 20%;
    display: block;
    padding: 10px 10px 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    text-align: right;
}

@media
only screen and (max-width: 1000px) {
    .amount-withdraw label, .amount-withdraw input {
        display: block;
    }

    .amount-withdraw input {
        width: 100%;
    }

    .influencer-payment-div .btn-withdraw {
        margin-top: 7px;
    }

}

@media only screen and (max-width: 480px) {

    .influencer-payment-div > .payment-balance {
        margin-left: 0;
        text-align: left;
    }

    .influencer-payment-div .btn-withdraw {
        float: left;
        margin: 15px 0;
        padding: 4px 0;
    }
}

#transaction-tabs {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 10pt;
}

.transaction-table {
    font-size: 14px;
    padding-left: 12px;
    vertical-align: middle;
}

.glyphicon-credit-card {
    color: #00AEEF;
    font-size: 24px;
    vertical-align: bottom;
    padding: 5px 5px 0px 5px;
}
.panel-payment {
    background-color: #fff;
    padding: 24px 20px 1px 20px;
    margin-bottom: 0;
}

.status-circle {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 5px;
}

.status-paid {
    background-color: #33cd31;
}

.status-pending {
    background-color: #fdc75d;
}

.status-failed {
    background-color: #ed1b26;
}


.payments_table th:nth-child(1), .payments_table td:nth-child(1) {
    text-align: center ;
}

.table > thead >.payment-header > th {
    vertical-align: middle;
    border-right-color: #dddddd;
}

.table > tbody > tr > td {
    border-right-color: #dddddd;
}

@media
only screen and (max-width: 980px) {

    .btn-download {
        font-size: 15px;
        margin: 15px 2px 3px 5px;
        padding: 5px 10px 5px 10px;
    }

    .btn-withdraw {
        font-size: 15px;
        margin: 15px 3px 3px 2px;
        padding: 5px 15px 5px 15px;
    }

    .payment-div > .payment-balance {
        font-size: 14px;
        padding: 5px 5px 0 0;
    }

    .payment-div {
        height: 32px;
    }
}

@media
only screen and (max-width: 768px) {
    td, tr {
        display: block;
        border: 1px solid #dddddd;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .btn-download {
        margin: 15px 0;
        width: 100%;
    }

    .transaction-table {
        padding-left: 1px;
    }

    .payment-div > .payment-balance {
        font-size: 8px;
        padding: 5px 5px 0 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .payments_table th:nth-child(1), .payments_table td:nth-child(1) {
        text-align: left ;
    }

    .payments_table > tbody > tr > td:nth-of-type(2):before { content: "Campaign Name : "; font-weight: bold; }
    .payments_table > tbody > tr > td:nth-of-type(3):before { content: "Date Billed : "; font-weight: bold; }
    .payments_table > tbody > tr > td:nth-of-type(4):before { content: "Transaction ID : ";  font-weight: bold; }
    .payments_table > tbody > tr > td:nth-of-type(5):before { content: "Amount Billed (INR) : ";  font-weight: bold; }
    .payments_table > tbody > tr > td:nth-of-type(6):before { content: "Payment Status : ";  font-weight: bold; }


    .bank_accounts_table > tbody > tr > td:nth-of-type(1):before { content: "Account Name : "; font-weight: bold; }
    .bank_accounts_table > tbody > tr > td:nth-of-type(2):before { content: "Account Number : ";  font-weight: bold; }
    .bank_accounts_table > tbody > tr > td:nth-of-type(3):before { content: "Bank : ";  font-weight: bold; }
    .bank_accounts_table > tbody > tr > td:nth-of-type(4):before { content: "Country : ";  font-weight: bold; }
    .bank_accounts_table > tbody > tr > td:nth-of-type(5):before { content: "Currency : ";  font-weight: bold; }
    .bank_accounts_table > tbody > tr > td:nth-of-type(6):before { content: "Delete Account : ";  font-weight: bold; }
}

.payment-content {
    box-shadow: 0 0 2px #9a9a9a;
}

.brand-payment-content {
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;
    z-index: 100;
}

.brand-payment-content .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.withdraw-modal-dialog {
    padding: 0;
    width: 40%;
}


@media
only screen and (max-width: 1140px) {
    .withdraw-modal-dialog {
        width: 50%;
    }

}

@media
only screen and (max-width: 820px) {
    .withdraw-modal-dialog {
        width: 80%;
    }

    .brand-payment-content {
        padding: 35px 20px;
    }
}

.withdraw-modal-content {
    height:460px;
}

.withdraw-modal-header {
    background-color: #FF3059;
    height: 100px;
    padding: 32px 7%;
}

.withdraw-modal-header .withdraw-modal-close {
    color: #ffffff;
    font-size: 3em;
    margin-top: -38px;
    opacity: 1.5;
    font-weight: 100;
}

.withdraw-modal-dialog .withdraw-modal-body {
    padding: 25px 20px;
}

.modal-amount {
    font-weight: normal;
}

.modal-amount-input {
    border: none;
    background-color: #e8e8e8;
    width: 20%;
    padding: 4px;
}

.bank-name {
    background-color: #e8e8e8;
    border: none;
    padding: 4px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
}

.bank-dropdown {
    background-color: #e8e8e8;
    border: none;
    padding: 0;
}

@media
only screen and (max-width: 768px) {
    .modal-amount-input {
        width: 70px;
    }

    .withdraw-modal-dialog {
        width: 100%;
    }
}

.withdraw-modal-continue{
    color: white;
    margin: 25px 3px 5px 5px;
    background-color: #f8c102;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 11pt;
    border-radius: 2px;

}

.withdraw-modal-cancel {
    color: white;
    margin: 25px 3px 5px 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 11pt;
    background-color: #999999;
    border-radius: 2px;

}

.without-first-line {
    margin-top: 32px;
}

@media
only screen and (max-width: 768px) {
    .from-balance, .withdraw-modal-amount, .withdraw-modal-bank, .add-account {
       font-size: 12px;
    }
}

.withdraw-modal-amount{
    margin-top: 5px;
}


.withdraw-modal-bank {
    margin-top: 5px;
}

@media
only screen and (max-width: 600px) {

    .withdraw-modal-continue, .withdraw-modal-cancel  {
        margin: 15px 3px 5px 5px;
        padding: 5px 10px 5px 10px;
        font-family: sans-serif;
        font-weight: 400;
        font-size: .7em;

    }
    .withdraw-modal-content {
        height:560px;
    }
}

@media
only screen and (max-width: 340px) {

    .withdraw-modal-continue, .withdraw-modal-cancel  {
        font-family: sans-serif;
        font-weight: 100;
        margin: 5px 3px 5px 5px;
        padding: 3px 3px;
        font-size: .7em;

    }
    .withdraw-modal-content {
        height:600px;
    }
}


.withdraw-modal-body .add-bank {
    text-decoration: underline;
    margin: 10px 0;
}

.withdraw-modal-body .add-bank a {
    color: #333333;
}

.bank-account-modal label {
    float: right;
}

@media
only screen and (max-width: 768px) {

    .bank-account-modal label, .bank-account-modal input, .bank-account-modal select {
        display: block;
        float: none;
        width: 100%;
    }
}

@media only screen and (min-width:720px) and (max-width: 770px) {
    .without-first-line {
        margin-left: -16%;
    }
}

@media only screen and (min-width:771px) and (max-width: 820px) {
    .without-first-line {
        margin-left: -18%;
    }
}

@media only screen and (min-width:960px) and (max-width: 1000px) {
    .without-first-line {
        margin-left: -28%;
    }
}

@media only screen and (min-width:1260px) {
    .without-first-line {
        margin-left: -7%;
    }
}

.padding-zero {
    padding-left: 0;
}

.bank-accounts {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 2px #9a9a9a;
    margin-bottom: 10px;
    padding: 20px;
}

.bank-accounts a {
    cursor: pointer;
}

.bank_accounts_table {
    margin-top : 25px;
}

@media
only screen and (max-width: 768px) {

    .btn-influencer-download {
        font-size: 13px;
        margin: 10px 0;
        padding: 5px 0;
        width: 100%;
    }
}

.add-bank-account {
    color: #FF3059;
    padding-left: 8px;
    padding-top: 15px;
    display: inline-block;
}

.btn-close {
    background-color: #999999;
    color: white;
    margin: 25px 5px 5px 3px;
    padding: 5px 30px 5px 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 11pt;
}



.bank-account-modal label, .bank-account-modal input, .bank-account-modal select {
    padding: 5px 3px;
    margin: 3px 0;
    font-size: 12px;
    color: #666666;
}

.bank-account-modal .bank-account-country {
    width: 200px;
    background-color: white;
}

.bank-account-modal input, .bank-account-modal select {
    width: 200px;
}

.bank_location {
    font-size: 14px;
    padding: 15px 0;
    font-weight: 600;
    text-align: right;
}

.btn-save-account{
    color: white;
    margin: 25px 0 5px 3px;
    padding: 5px 30px 5px 30px;
    background-color: #f8c102;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

@media
only screen and (max-width: 768px) {
    .bank_location {
        text-align: center;
    }

    .bank-account-modal .bank-account-country, .bank-account-modal input, .bank-account-modal select {
        width: 100%;
    }

    .btn-withdraw, .btn-close, .btn-save-account {
        font-size: 13px;
        width: 100%;
        padding: 5px 0;
        margin: 5px 0;
    }

    .btn-save-account{
        margin-left: 0;
    }
}

.bank_accounts_table td input[type=radio] {
    vertical-align: middle;
    margin-bottom: 6px;
}

.btn-download:hover, .btn-withdraw:hover, .btn-influencer-download:hover, .btn-save-account:hover, .btn-download:focus, .btn-withdraw:focus, .btn-influencer-download:focus, .btn-save-account:focus {
    color: white;
    background-color: #f1b242;
}

.btn-close:hover, .btn-close:focus {
    color: white;
    background-color: #737373;
}

.bank-btn-set {
    margin-left: 65px;
}

/*for removing overlapping with payment-content*/
#export_payments{
    position: relative;
    z-index: 101;
}

#error_explanation {
    width: 95%;
}

.influencer-payment-dropdown {
    min-width: 98%;
    margin-top: -8px;
}

.brand-payment-dropdown {
    width: 196px;
    margin-top: -3px;
}

@media only screen and (max-width: 980px) {
    .brand-payment-dropdown {
        width: 178px;
    }
}

@media only screen and (max-width: 768px) {
    .brand-payment-dropdown {
        width: 100%;
        margin-top: -13px;
    }
}