/*
*= require nouislider
*/

body {
  font-family: 'Raleway', sans-serif;

  select, textarea, input {
    border: 1px solid #d9d9d9;
  }

}

.skin-blue .wrapper {
  /*overflow: visible !important;*/
  background-color: #F9F9F9 !important;

}

.header-content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  padding: 17px 15px 5px;
  background-color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

.content-wrapper {
  background-color: #f9f9f9;
  z-index: 800;
}

/*.form-control {*/
/*padding-right: 30px;*/
/*padding-left: 30px;*/
/*}*/

.form-control + .glyphicon {
  position: absolute;
  left: 28px;
  top: 12px;
}

.btn-circle {
  background-color: #00AEEF;
  border-radius: 50%;
  border: none;
  color: white;
  height: 35px;
  margin-right: 6px;
  padding: 0;
  width: 35px;
  /*line-height: 40px;*/
  /*margin: 0 3px;*/
}

.btn-circle:active {
  color: #000000;
}

.btn-modal-submit {
  background-color: #e23f3a;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.btn-modal-submit:hover {
  color: #ffffff;
}

.rounded-input-box {
  border-radius: 20px !important;
  height: 36px;
  padding-left: 30px;
  width: calc(100% - 51px);
}

.info-box-container {
  margin-left: 0;
  margin-right: 0;
}

.info-box-custom {
  background: #fff none repeat scroll 0 0;
  /*border-radius: 2px;*/
  display: block;
  padding: 4px 0;
  border-bottom: 1px solid #eaeaea;
}

/* info box style */
.info-box-content {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  border-right: 1px solid #e4e7ec;
  font-family: 'Hind Regular', sans-serif;
}

.right-border {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.info-box-custom:last-child .info-box-content {
  border-right: none;
}

@media (max-width: 992px) {
  .info-box-custom:nth-child(2) .info-box-content {
    border-right: none;
  }
}

.info-box-text {
  padding: 0;
  margin: 0;
  font-size: 11px;

}

.info-box-data {
  line-height: 1.2;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-family: 'Varela', sans-serif;
}

@media (min-width: 768px) {
  .info-box-data {
    font-size: 40px;
  }
  .info-box-text {
    font-size: 14px;
  }
}

.total-follower-data-color {
  color: #32ccff;
}

.page-view-data-color {
  color: #fa5c8f;

}

.total-post-data-color {
  color: #99cd00;

}

.post-reach-data-color {
  color: #fecb34;
}

/* end info box style */

.square-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

.bg-color-blue {
  background: #a9e5ed;
}

.bg-color-pink {
  background: #EA358C;
}

.bg-color-white {
  background: #D2D6DE;
}

.padding {
  padding-bottom: 5px;
}

.text-color-follower {
  color: #00d3c3;
}

.profile-image {
  width: 100px;
  border: 1px solid #474b56;
  margin-bottom: 15px;
  margin-top: -17px;
  padding: 11px;
}

.profile-info {
  width: 186px;
  /*color: #b8c7ce;*/
}

.hr {
  /*width: 80%;*/
  height: 1px;
  width: 100%;
  color: #565656;
}

hr {
  height: 1px;
  /*color: #565656;*/
  width: 100%;
  background-color: #565656;
  border: none;
  margin-bottom: 10px;
}

.chart-info {
  /*padding-left: 2%;*/
  color: #808080;
  padding-top: 20px;
}

/* side bar style */

.sidebar {
  color: #999999;
  font-family: 'Raleway', sans-serif;
}

.skin-blue .sidebar a {
  color: #999999;

}

.skin-blue .main-sidebar {
  background-color: #2b2f3e;
  padding-top: 40px;
}

.skin-blue .sidebar-menu > li > a {
  border-left: 0;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
  color: #FFFFFF;
  background: #FF3059;
}

/* footer style sheet */

.main-footer {
  background-color: #252526;
  color: #e9e9e9;
  font-size: 12px;
  margin-left: 0;
  border-top: none;
}

.main-footer .footer-content {
  font-family: 'Hind', sans-serif;

}

.icon-horn {
  background: image-url("horn.png") no-repeat center top;
  display: inline-block;
  width: 30px;
  height: 15px;
  content: '';
  padding-left: 0;

  .skin-blue .sidebar-menu li:hover &,
  .skin-blue .sidebar-menu li.active & {
    background-position: center bottom;
  }
}

.icon-comment {
  background: image-url("post-reach.png") no-repeat scroll 0 0;
}

.icon-love {
  background: image-url("Followers.png") no-repeat scroll 0 0;
}

.icon-love, .icon-comment {
  content: "";
  display: inline-block;
  height: 12px;
  padding-left: 0;
  width: 19px;
}

/* font style  */

.font-hind {
  font-family: 'Hind', sans-serif;
  font-size: 10pt;

}

.user-status {
  border: 1px solid #4f535e;
  border-radius: 15px;
  padding: 3px 6px;
  font-size: 11px;
  background-color: #2b2f3e;
}

.user-status:hover, .user-status:focus {
  color: #999999;
}

.user-status > li > a {
  border-radius: 30px;
}

.dropdown-menu > li > a:hover {
  border-radius: 10px;
}

.dropdown-color {
  background-color: #f5f5f5;
}

.camera {
  padding-left: 20px;
}

.box {
  border-top: none;
}

.influence-facebook-content {
  /*width: 97%;*/
  margin: 5px 20px 0 20px;
  margin-top: 22px;
  /*margin-top: 5px;*/
}

.br-container {
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.filter-bar {
  margin-bottom: 22px;
  /*height: 50px;*/
  background-color: #E9EAED;
  margin-left: 0;
  margin-right: 0;

}

.filter-item, .filter-item a {
  line-height: 50px;
  background-color: inherit;
  font-size: 15px;

}

.filter-item-select {
  line-height: 45px;
  background-color: #DADADA;
  border-bottom: 5px solid #989898;
}

.filter-item a.close-filter-item {
  color: #676767;
  float: right;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
}

.filter-item .close-filter-item {
  line-height: 45px;
}

.close-filter-item-select {
  font-size: 20px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.box.box-info {
  border-top: 5px solid #00c0ef;
  padding-bottom: 20px;
}

.color-gray {
  color: #7c8690;
}

.statistic-table {
  display: none;
}

.statistic-table.active {
  display: table;
}

.statistic-table tbody tr {
  width: 100%;
}

.statistic-table tbody tr td, .statistic-table thead tr th {
  padding-left: 45px;
}

.statistic-table thead tr th:first-child {
  padding-left: 12px;
}

.statistic-table tbody tr td {
  font-size: 13px;
}

select.country-drop-down {
  width: 75%;
  display: inline-block;
  color: #565656;
  font-weight: 400;
  padding-left: 5px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

th, td {
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  border-right: 1px solid rgba(128, 128, 128, 0.2);
}

.statistic-box-body {
  padding: 0;
}

.statistic-box-body .table > thead > tr > th {
  border-bottom: none;
}

.sidebar-menu {
  font-size: 13px;
  margin-top: 16px;
}

.sidebar-menu li a {
  padding-left: 28px;
}

a.center-block.text-center.user-status.small {
  font-size: 10px;
}

.sidebar-menu span.space-sidebar {
  padding-left: 10px;
}

.main-sidebar .sidebar-menu li.active {

  color: #FFFFFF;
  background-color: #FF3059;
  border-left-style: hidden;
}

.rights-reserved {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

.header-bottom-margin {
  margin-top: 3px;
  color: #dddddd;
  box-shadow: 0 1px 1px #dddddd;
}

.about-welcome {
  margin-right: 16px;
  //    max-width: 350px;
  float: right;
  margin-bottom: -2px;
  font-weight: 500;
}

.about-welcome:after {
  clear: both;
  content: '';
  display: block;
}

.header-logo {
  max-width: 100%;
  margin: auto;
  /*float: left;*/

}

.welcome, .about {
  font-size: 13px;
  display: inline-block;
}

.welcome {
  margin-right: 16px;
}

.about {
  margin-right: 25px;
}

@media (max-width: 460px) {

  .about {
    margin-right: 10px;
  }

}

.login-link {
  display: inline-block;
  /*float: right;*/
  /*margin-right: 5px;*/
  text-align: center;
  width: 21px;
}

@media (min-width: 768px) {
  /*.about-welcome{*/
  /*margin-right: 30px;*/
  /*}*/
  .header-logo {
    margin-top: 10px;
    margin-left: 5px;

  }
  .about {
    /*margin-right: 27px;*/
    /*margin-left: 10px;*/
  }
}

@media (min-width: 1000px) {
  .header-logo {
    margin-top: -2px;
  }
}

#world-map-markers .jvectormap-zoomin {
  top: 9%;
  background: none;
  color: grey;
  font-size: 1.5em;

}

#world-map-markers .jvectormap-zoomout {
  margin-left: -50px;
  top: 16.2%;
  font-size: 1.5em;
  background: none;
  color: grey;
}

.map-chart {
  background-color: white;
}

.map-chart .box {
  box-shadow: none;
}

.map-marker {
  border: 3px solid #398cea;
  box-shadow: 0 0 0 5px rgba(57, 137, 234, 0.2);
  border-radius: 100%;
  height: 9px;
  width: 9px;
}

.chart #salesChart {
  height: 300px;
}

.stat-gender, .stat-country {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

/*.stat-gender{*/
/*padding-left: 0px;*/
/*}*/
/*@media  (min-width: 768px){*/
/*.stat-gender{*/
/*padding-left: 5px;*/
/*}*/

/*}*/

.padding-zero {
  padding: 0;
}

.this-week {
  padding: 2px 10px;
  background-color: white;
}

.stat-country {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 25px;
}

.stat-country, .box.box-info, .stat-gender {
  /*width: 95%;*/
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 768px) {
  .stat-country, .box.box-info, .stat-gender {
    margin-right: 20px;
    margin-left: 20px;
  }

}

.box {
  margin-bottom: 0;
  width: auto;
}

.box .box-body {
  padding: 0;
}

.view-country {
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding: 0;
  font-weight: 400;
  background-color: white;
  width: 70%;
  text-align: left;
}

.angle-down-cities {
  font-size: 1.6em;
}

@media (max-width: 800px) {
  .fb-chart {
    margin: 0 12px 0 15px;
    box-sizing: border-box;
  }
  .view-country {
    /*font-family: sans-serif;*/
    font-size: .8em;
  }
}

@media (max-width: 398px) {
  .chart-male {
    margin-right: 30px;
  }
}

@media (max-width: 440px) {
  .go-button {
    padding-left: 5px;
  }

  /*.btn-circle {*/
  /*margin: 0;*/
  /*}*/
  .view-country {
    /*font-size: .7em;*/
  }
}

.search-top-margin {
  margin-top: 10px;
}

@media only screen and (min-width: 990px) and (max-width: 1060px) {
  .unit-in {
    width: 25%;
  }
  .facebook-female {
    width: 85px;
  }
}

.custom-drop-down-button {
  background-color: #ffffff;
  border-color: #d2d2d2;
  border-radius: 1px;
  color: #808080;
  font-size: 12px;
  font-weight: 400;
  height: 20px;
  line-height: 1;
  padding: 0 14px;
}

.custom-drop-down-button:hover {
  background-color: #ffffff;
  color: #808080;

}

.remove-right-padding {
  padding-right: 0;
}

.remove-left-padding {
  padding-left: 0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f6f6f6;
}

.chart {
  padding: 0 15px 0 34px;
}

.bg-white {
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 28px;
}

.info .name {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

th {
  font-weight: 400;
}

.custom-dropdown-menu > li > a, .drop-down-label {
  font-size: 13px;
  font-weight: 400;
}

.drop-down-label {
  display: inline;
  width: 30%;
  margin-bottom: 5px;
  max-width: 100%;
}

.statistic-table tbody tr td:nth-child(n+2) {
  font-family: Hind, sans-serif;
}

.statistic-table tbody tr:nth-child(1) {
  font-family: Raleway, sans-serif;
}

.font-below-statistic {
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
}

.gender-stat-legend {
  display: inline-block;
  margin-left: 18px;
}

.gender-stat-legend .dropdown {
  margin-left: 16px;
}

.main-content {
  min-height: 535px;
}

.standard-description {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
}

.invisible {
  opacity: 0;
}

#error_explanation {
  width: 518px;
  border: 2px solid #ff3a38;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  margin: -7px -7px 0 -7px;
  background-color: #ff3a38;
  color: #fff;
}

#error_explanation ul li {
  font-size: 13px;
  list-style: square;
  padding-top: 5px;
}

@media (max-width: 480px) {

  #error_explanation {
    width: 100%;
  }

  #error_explanation h2 {
    font-size: 12px;
  }

  #error_explanation ul li {
    font-size: 11px;
  }

}

.color-brand {
  color: #32ccfe
}

.color-influencer {
  color: #fa5c8f
}

.color-campaign {
  color: #98cb00
}

.color-posts {
  color: #fecb32
}

/* new Log in and Sign up page design style sheet */

.colored-label {
  background: #fbbb46 none repeat scroll 0 0;
  color: #fff;
}

.input_container {
  float: left;
  margin: 0 0 10px;
  width: 100%;
}

.label_l {
  background: #fbbb46 none repeat scroll 0 0;
  color: #fff;
  float: left;
  min-width: 120px;
  padding: 6px 8px;
}

.login_input {
  background: #eeeeed none repeat scroll 0 0;
  border: medium none;
  color: #666;
  float: left;
  font-family: "Open Sans", sans-serif;
  outline: medium none;
  padding: 6px 8px;
  width: 228px;
}

#brand-signup {
  margin: 0 0 30px;
}

#signup .modal-dialog {
  width: 568px;
}

#login .modal-dialog{
  width: 400px;
}


#signup .modal-header {
  border-bottom: medium none;
  padding: 20px 30px;
}

@media (max-width: 550px) {
  #signup .modal-dialog {
    width: 95%;
  }
  #signup .modal-header {
    padding: 20px 10px;
  }
}

.close-image .close {
  background: image-url("modal_close_btn.png") no-repeat;
  height: 20px;
  opacity: 1;
  width: 20px;
}

.modal-header .close {
  margin-top: -2px;
}

#signup label {
  color: #666;
  font-weight: normal;
  font-size: 15px;
  margin-left: 10px;
}

.parsley-errors-list li {
  color: #e23f3a;
  font-size: 80%;
  list-style-type: none;
}

#success-message {
  font-size: 20px;
}

.remember {
  margin: 13px 0 15px;
}

.checkbox label::before {
  background: image-url("checked.png") no-repeat scroll 0 0;
  border: 1px solid #e3e3e3;
  content: "";
  display: inline-block;
  height: 16px;
  left: 0;
  margin-left: -20px;
  outline: medium none !important;
  position: absolute;
  top: 2px;
  transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
  width: 16px;
}

.checkbox-primary input[type="checkbox"]:checked {
  background-color: #ffb734;
  border-color: #e69f1d;
}
.alert a.close{
  text-decoration: none;
}
.global-modal .modal-header h3,#signin .modal-header h3, #signup .modal-header h3{
  color: #ffb734;
  font-weight: 600;
}

#mfPreviewBar {
  display: none;
}
textarea#company-short-bio{
  width: 100%;
}

.main-header .sidebar-toggle:hover {
  color: #72afd2;
}

.logo-container{
  padding-top: 60px;
}

.left-zero-padding {
  padding-left: 0;
}

.right-zero-padding {
  padding-right: 0;
}
/* faq page style */
.mleft20{
  margin-left: 20px;
}
.inner_bg {
  background: #fff none repeat scroll 0 0;
  width: 100%;
}

.left-zero-margin {
  margin-left: 0;
}

.right-zero-margin {
  margin-right: 0;
}

.display-inline-block {
  display : inline-block !important;
}

.remove-both-margin {
  margin-right: 0;
  margin-left: 0;
}
.container {
  width: 1030px;
}
/*working */
.panel-warning > .panel-heading {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #ffffff;
}
.expandable {
  cursor: pointer;
}
#faq .panel-heading {
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 13px 15px;
  background-color: #00c9f3;
  margin-bottom: 1px;
}
/* working */
#faq .panel-body.expandable {
  padding: 0 22px;
}
#faq .panel-body.expandable h4 {
  color: #00c9f3;
  font-size: 15px;
  font-weight: bold;
}
#faq .expanded {
  padding: 5px 22px;
}
.panel > .list-group, .panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.panel > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item {
  border-radius: 0;
  border-width: 1px 0;
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item {
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;
}
#faq .expanded .list-group-item h5 {
  color: #00c9f3;
}
h5, .h5 {
  font-size: 14px;
}
.faq-container .panel.panel-warning{
  border: 0;
  padding: 0;
}
#faq .panel-heading h3 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/* faq page style end */

// spinner button

.has-spinner .fa-spinner {
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .fa-spinner {
  opacity: 1;
  max-width: 50px;
}
/* success request notification */
.success_icon{
  background: image-url("success-icon.png") no-repeat ;
  float: left;
  line-height: 16px;
  padding: 0 0 0 25px;
  width: 100%;
}
.info_p {
  font-size: 15px;
  margin: -15px 0 20px !important;
}
.global-modal-title{

}
.title>p:first-child{
  display: inline-block;
}
.unread-message{
  padding-left: 2px;
  font-weight: bold;
  font-size: 16px;
}

.button-border-yellow {
  color: white;
  border-color: #f1b242;
}

.button-border-blue {
  color: white;
  border-color: #0092af;
}

.button-border-grey {
  color: white;
  border-color: #494949;
}

.contact-form li {
  padding-top: 3px;
  font-size: 100%;
  color: white;
}

.contact-us .form-control:focus {
  border-color: #f4503b !important;
}
// jcrop style
.jcrop-keymgr{
  margin-left: -10000px !important;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: image-url("page-loader.gif") 50% 50% no-repeat rgba(0, 0, 0, 0.1);
  display: none;
}

.display-inline {
  display: inline;
}

.font-color-pink {
  color: #ff305a;
}

.about-welcome .popover-title {
  background-color: white;
  color: #0072b1;
  border-bottom: none;
  text-align: center;
  font-size: 12px;
  padding: 2px;
}

.about-welcome .popover-content {
  padding: 0;
}

.message-body{
  display: inline-block;
  margin: 5px 0 0 10px;
  max-width: 90%;
}

// faq page style sheet
.group-1,.group-2{
  display: block;
}

// parsely error below input field

.image-input-container{
  display: inline-block;
}
.image-input-container, #user_image{
  width: 250px;
}

.image-upload-btn-container{
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 10px;
}

#profile_image_upload_modal .modal-body{
  padding-top: 0;
  padding-bottom: 0;
}

.pagination-center-align {
  width: 100%;
  text-align: center;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  color: #816437;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.test[style] {
  padding-right:0 !important;
}

.influencer-search-result-box{
  padding: 20px;
}

.influencer-search-result-box p{
  font-weight: 700;
  font-size: 16px;
}


// profile image crop modal style

#profile_image_edit_modal .modal-dialog{
  max-width: 600px;
  height: auto;
}
@media (max-width: 767px) {
  #profile_image_edit_modal .modal-dialog{
    width: 95%;
  }
  #profile_image_edit_modal .modal-body{
    padding-left: 5px;
    padding-right: 5px;
  }
}
.image-field{
  margin-top: 10px;
}
#profile_image_edit_modal .modal-footer{
  padding: 15px 0;
}

#profile_image_upload_modal .modal-dialog, #profile_image_edit_modal .modal-dialog{
  max-width: 608px;
}

.admin-sign-in-container{
  background-color: #cccccc;
  height: 100%;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
  color: #333333;
}
.admin-sign-in-form{
  border: 2px solid #999999;
  margin: 9% 32%;
  padding: 44px;
  background-color: #f5fafa;
  font-size: 13px;
}
.admin-sign-in-form a{
  font-size: 12px;
}

// profile show page desing

#show-readonly-user-profile h4,
#show-readonly-user-profile .modal-body{
  font-family: "Raleway", sans-serif;
}


.profile-item{
  font-weight: bold;
  display: inline-block;
  width: 145px;
  vertical-align: top;
}
.profile-value{
  display: inline-block;
  font-weight: 500;
  margin-bottom: 5px;
  width: 180px;
}

.squaredFour input {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #cfcfcf;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.text-align-right {
  text-align: right;
}

.password-reset-container{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.password-reset-container .label_l{
  min-width: 130px;
}