<script type="text/x-handlebars" id="add-facebook-account-template">
    <div class="modal fade" id="AddFacebookAccount" role="dialog">
      <div class="modal-dialog add-fb-modal-dialog">
        <div class="modal-content">
          <div class="modal-header add-fb-modal-header">
            <a href="#"><%= image_tag('logo_white.svg', :class => 'img-responsive login-modal-logo', :alt => 'logo') %></a>
            <button type="button" class="close add-fb-account-close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="add-another-account">Accounts</div>
            <p class="red-text text-small">Note: TheBrandreach.com won't manage any account or TheBrandreach.com do not have access to post or manage anything without Influencers Permissions. TheBrandreach.com is taking access of your page only to get Insights about Page reach, post reach and demographic information. Also, the account that is actively Engaged with Brand cannot be removed during that Engagement period.</p>

            <div class="account-content">
                <form method="POST" action="<%= update_accounts_profile_index_path %>" <%= 'data-remote="true"' if remote %>>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <input type="hidden" name="access_token"/>
                    {{#each accounts}}
                        <div class="media js-clickable">
                          <div class="media-left media-middle">
                            <img class="media-object" src="{{picture.data.url}}">
                          </div>
                          <div class="media-body media-middle">
                            <h4 class="media-heading">{{name}}</h4>
                          </div>
                          <div class="media-right media-middle">

                            <span class="custom-checkbox">
                                 <input type="checkbox" name="accounts[]" value="{{id}}" {{#if selected}}checked="checked"{{/if}} {{#if engaged}}readonly="readonly"{{/if}}>
                                 <span class="box">
                                 <span class="tick">
                                 </span>
                                 </span>
                            </span>
                          </div>
                        </div>
                    {{/each}}

                    <br/>

                    <input class="btn-inf-fb-connect load-page" type="submit" value="CONNECT"/>
                </form>
            </div>

            <div class='help-note'>
                    <P>Note:</p>
                    <p>Only the pages that meet out eligibility guidelines are displayed here.</p>
                    <p>You can view our eligibility guidelines <a data-toggle='modal' data-target='#guideline-modal' href='javascript:;'>here</a>.</p>
                </div>

          </div>
        </div>
      </div>
    </div>
</script>

