<% title 'FAQs' %>

<div class="wrapper-content non-home-page-wrapper sticky-footer-wrapper faq-container">
  <div class="inner_bg" id="faq">
    <div class="mtop20">
      <div class="panel panel-warning">
        <div class="panel-heading" data-sub=".group-1-sub">
          <h3 class="mleft20">USER GUIDE FOR ALL MEMBERS</h3>
        </div>

        <div class="panel-body expandable expanded group-1 show" data-target=".group-1-a">
          <h4>a. Getting Started</h4>
        </div>
        <ul class="list-group expanded group-1-sub group-1-a closed">
          <li class="list-group-item">
            <h5>i) What is BrandReach?</h5>

            <p>BrandReach is a multi-platform networking service that connects every brand to prominent
              Influencers on the BrandReach platform, who can help market, promote and initiate branding
              campaigns for the brand (and/or its products) across multiple networking sites.</p>
          </li>
          <li class="list-group-item">
            <h5>ii) What are the guidelines and codes of conduct on BrandReach?</h5>

            <p>BrandReach is a business networking portal that connects companies and influencers
              on a social and business level and so it is very important for all users (both brands and influencers)
              to maintain a presentable decorum to avoid the risk of your account being suspended or removed.
              All misbehavior directly or indirectly related to our guidelines will result in suspension / expulsion of
              the account.
            </p>
          </li>
          <li class="list-group-item">
            <h5>iii) Is BrandReach International?</h5>

            <p>Yes, the BrandReach Platform acts as a bridge connecting Influencers and Brands from all over the world.</p>
          </li>
        </ul>
        <div class="panel-body expandable expanded closed show" data-target=".group-1-b">
          <h4>b. Profile &amp; Account Settings - General Questions</h4>
        </div>
        <ul class="list-group expanded group-1-sub group-1-b closed">
          <li class="list-group-item">
            <h5>i) Why should I fill all the questions in my profile page?</h5>

            <p>All areas and questions on your profile are to be filled to maintain your credibility
              when trying to connect with an Influencer / Brand. We suggest that you keep your profile
              up-to-date and as honest as possible to help all connecting parties understand your line
              of work/business and thus, help them approach you based on mutual requirements.
            </p>
          </li>
          <li class="list-group-item">
            <h5>ii)  How do I edit my profile?</h5>

            <p>
              You can edit your profile by going to your <span class="red-text">Profile.</span>
            </p>

            <p>
              <em>Note: Please remember to click on <span class="red-text">Update</span> before you leave the page else the new data will not be saved.</em>
            </p>
          </li>
          <li class="list-group-item">
            <h5>iii)  How do I change my BrandReach profile picture?</h5>

            <p class="red-text">Click on the camera icon near your name > Select a photo > Open  (Set Size & coverage area of picture) > Update Profile Picture</p>
          </li>
          <li class="list-group-item">
            <h5>iv) Why didn't I receive my email notification?</h5>

            <p>You must have turned off the notifications & reminders for your email. To turn it back on,
              go to <span class="red-text">settings page > slide the button on/off</span> (under other settings).
              The button bar turn red when on.</p>
          </li>
          <li class="list-group-item">
            <h5>v) Why do I have to connect my social accounts?</h5>

            <p>Connecting your social accounts helps both Brands & Influencers build trust and credibility
              within every community. The credibility of your social accounts can help you connect and network
              better. This in turn can also help you build your network by connecting with other BrandReach
              users on your social accounts.
            </p>
          </li>
          <li class="list-group-item">
            <h5>vi) How do I delete / deactivate my account?</h5>

            <p>We are sorry to know that you are thinking of parting ways with BrandReach. If you have any
              complaint of feedback you would like to share with us, please do so by emailing us at
              support@BrandReachnow.co and we’ll do everything we can to make things better.</p>
            <p>If you have decided to deactivate your account anyways, you can do so by going to
              <span class="red-text">Settings > Deactivate.</span></p>
            <p>We do hope that you will reconsider joining us back someday. Please contact us at
              support@BrandReachnow.co to reactivate your account.
            </p>
          </li>
        </ul>
        <div class="panel-body expandable expanded closed show" data-target=".group-1-c">
          <h4>c. Privacy &amp; Security</h4>
        </div>
        <ul class="list-group expanded group-1-sub group-1-c closed">
          <li class="list-group-item">
            <h5>i)  Is my contact information kept private?</h5>

            <p>We consider Trust, Credibility and Security as our highest priority, so rest assured,
              we will not disclose any personal information to others. All calls are routed through BrandReach,
              so there will be no disclosure of your personal details.</p>
          </li>
          <li class="list-group-item">
            <h5>ii) Can I use my personal email while connecting directly with an Influencer/Brand?</h5>

            <p>We consider Trust, credibility and security as our highest priority so we refrain from
              disclosing any personal data. Even if you feel the need to share any personal data,
              there are many other users who are not comfortable in disclosing personal information to unknown
              members.</p>
            <p>If you connect directly with other users, we cannot be responsible for any problems arising
              in terms of safety or payment and so, it’s important to keep communication and transactions only
              on the BrandReach platform.</p>
          </li>
        </ul>


        <div class="panel-heading" data-sub=".group-2-sub" >
          <h3 class="mleft20">A GUIDE FOR ALL INFLUENCERS</h3>
        </div>
        <div class="panel-body expandable expanded group-2 closed show" data-target=".group-2-a">
          <h4>a. Getting Started</h4>
        </div>
        <ul class="list-group expanded group-2-sub group-2-a closed">
          <li class="list-group-item">
            <h5>i.   Who can be an Influencer on BrandReach?</h5>

            <p>Any person having a social media page with minimum 100,000 or more Facebook
              followers and 15,000 or more Twitter followers are eligible to be an Influencer
              on our platform.</p>
          </li>
          <li class="list-group-item">
            <h5>ii. How do I apply to be an Influencer?</h5>

            <p>If you meet the above criteria to be an influencer, go to <span class="red-text">Homepage > Sign Up Free.</span></p>
          </li>
          <li class="list-group-item">
            <h5> iii. Why do I have to link my Social Account Page?</h5>

            <p>
              Your Social Account Page determines your credibility and the number of followers on that page.
              This helps in building trust between you and the brands would like to engage you.
            </p>
          </li>
          <li class="list-group-item">
            <h5>iv.  How do I connect more social accounts?</h5>

            <p>To connect social accounts to your BrandReach profile, go to your <span class="red-text">Profile > Add Accounts</span>
              (under Social Accounts’ Information and Pricing). Check the pages linked to all your social
              media accounts and click on connect to save changes.</p>
          </li>
          <li class="list-group-item">
            <h5>v. Is there a limit to the number of Social Account Page?
            </h5>

            <p>No there is no limitations to the number of social media pages you can link.
              The only eligibility criteria is that your page should have a minimum minimum 100,000 or more
              Facebook followers & 15,000 or more Twitter followers and that your page should not be
              linked to any other influencer (your colleagues with admin rights to your social media page who
              have already created an account on BrandReach and linked the same page you both share)</p>
          </li>
          <li class="list-group-item">
            <h5>vi. I am unable to add my page as it says the page already exists on the portal.
            </h5>

            <p>One of your colleagues with admin rights to your social media page may have
              already created an account with us.  According to our policy, only one account
              is eligible per page on the BrandReach portal. This measure has been taken to remove
              any duplications as only Pages will be visible in the search results.</p>
          </li>
          <li class="list-group-item">
            <h5>vii. How much should I charge for campaigns?
            </h5>
            <p>Every Influencer has the authority to set the price you think is best. You can customize the price for various modes of engagement.</p>
          </li>
          <li class="list-group-item">
            <h5>viii. How do I change my rate?
            </h5>
            <p>Go to <span class="red-text">Profile > Social Accounts’ Information & Pricing</span> you can see various tabs for all the pages linked to your account. You can set the price you think is fit and click on Update to save changes</p>
          </li>
          <li class="list-group-item">
            <h5>ix. How can I keep a track of all the engagements from Brands?
            </h5>
            <p>Go to <span class="red-text">Offers.</span> You can see all the messages and Promotional campaign requests sent by Brands. You can choose to accept or deny the request. If you choose to accept the request, then a message will be sent to the Brand prompting them to choose a campaign creation page along with all the details they wish to give you</p>
          </li>
          <li class="list-group-item">
            <h5> x. How can I keep a track of all campaigns?
            </h5>
            <p>All the accepted ampaigns will appear in the <span class="red-text">Campaigns </span>Tab. You can check and engage the brand’s campaign accordingly based on the details provided.</p>
          </li>
          <li class="list-group-item">
            <h5> xi. How do I get paid for the campaigns I do?
            </h5>
            <p>Once you accept a campaign request sent by the Brand, the Brand pays BrandReach. Once the campaign is completed, you can see the money earned in the <span class="red-text">Payments</span> Tab.</p>
            <p>Whenever you wish to Redeem the money, go to <span class="red-text">Payments > Withdraw</span> and our accounts team will deposit the requested amount into the Bank account provided.</p>
          </li>
          <li class="list-group-item">
            <h5> xii. What is the BrandReach service fee?
            </h5>
            <p>BrandReach charges a service fee of 20% from the total money paid by the Brand. This amount is taken to maintain a smooth and continuous operations of the site, and thus serving you better.</p>
          </li>
          <li class="list-group-item">
            <h5>xiii. What if I want to postpone/cancel a campaign?
            </h5>
            <p>You can postpone or cancel the campaign any time before the 1<sup>st</sup> post/tweet. There will be no service fee for postponing or cancelling a campaign.</p>
          </li>
          <li class="list-group-item">
            <h5> xiv. Why can’t I see other Influencers?
            </h5>
            <p>For security as well as privacy reasons, one influencer cannot see or contact another influencer.</p>
          </li>
          <li class="list-group-item">
            <h5> xv. Why can’t I approach Brands for campaigns?
            </h5>
            <p>We have currently created a model where only Brands can contact Influencers of their choice. We are working to integrate the second model in the near future.</p>
          </li>
        </ul>


        <div class="panel-heading" data-sub=".group-3-sub" >
          <h3 class="mleft20">A GUIDE FOR ALL BRANDS</h3>
        </div>
        <div class="panel-body expandable expanded group-3 closed show" data-target=".group-3-a">
          <h4>a. Getting Started</h4>
        </div>
        <ul class="list-group expanded group-3-sub group-3-a closed">
          <li class="list-group-item">
            <h5> i. Who can be a Brand on BrandReach? </h5>
            <p>Anybody (be it an entrepreneur, a start-up, an established company etc.) from any field can apply to be a Brand on BrandReach.</p>
          </li>
          <li class="list-group-item">
            <h5>ii.  How do I apply to be on Brand?
            </h5>

            <p>We at BrandReach generally invite Brands to be a part of our platform. Nevertheless, you can apply by going to <span class="red-text">Homepage > Sign Up Free</span>. Fill in all the details and BrandReach team will contact you after considering your request.</p>
          </li>
          <li class="list-group-item">
            <h5> iii.   How can I change my password and manage notifications?
            </h5>

            <p>
              Change your password in the <span class="red-text">Profile > Change Password</span> (under account setup).
            </p>
            <p>
              Manage notifications in the settings page. Slide the buttons to on/off the notifications & reminders.
            </p>
          </li>
          <li class="list-group-item">
            <h5>iv. How do I search an Influencer?
            </h5>

            <p>Go to <span class="red-text">Explore > Search</span> to easily find an influencer related to your requirement. Optimize your search results by using the advanced search options. View their profiles to see their work experience and area of expertise.</p>
          </li>
          <li class="list-group-item">
            <h5>v. Why am I not able to find an Influencer most suited to my requirements?
            </h5>

            <p>Optimize your search results by using the advanced search options. View influencers’ profiles to see their work experience and area of expertise. The advanced search allows you to narrow down to Influencers of your choice based on their fan following & reach, fees, availability, area of engagement, etc. This will help you find an influencer most suited to your needs and might help with successful branding campaigns and better brand engagement.</p>
          </li>
          <li class="list-group-item">
            <h5>vi.  Why do different Influencers have different rates on BrandReach?
            </h5>

            <p>Every Influencer has the authority to set the price per minute they think is best. We have a wide range of Influencers with various pricing rates. Select the one most suited to your budget and engagement requirements.</p>
          </li>
          <li class="list-group-item">
            <h5>vii.  How do I engage a selected Influencer?
            </h5>
            <p>Once you select the influencer you like, click on message. You will be prompted to fill all the fields with requirements of your choice. Once completed, send the requested. The Influencer will be given the opportunity to accept or deny. If accepted, you will be notified of the same and you will be taken to a Campaign creation page where you have to enter all the details pertaining to the campaign. Once complete, you will be taken to the payment gateway where you will be asked to pay the payment for the selected campaign. Once payment is complete, the campaign becomes active. You can check the same in your campaigns tab.</p>
          </li>
          <li class="list-group-item">
            <h5>viii.  Can I engage multiple campaigns with the same Influencer at once?
            </h5>
            <p>Yes, you can engage the same influencer for multiple campaigns provided the Influencer has accepted your request for the same.</p>
          </li>
          <li class="list-group-item">
            <h5>ix. How can I keep a track of all the engagements I sent to the Influencers?
            </h5>
            <p>Go to <span class="red-text">Messages.</span> You can see the list of all the campaign requests sent to every Influencer.</p>
          </li>
          <li class="list-group-item">
            <h5> x. How can I keep a track of all the active Campaigns?
            </h5>
            <p>Go to <span class="red-text">Campaigns</span> Tab. You can see a list off all the accepted and active campaigns.</p>
          </li>
          <li class="list-group-item">
            <h5> xi.  How do payments work on BrandReach?
            </h5>
            <p>Once an Influencer accepts your campaign request, you will be asked to provide your account details. Payment will be taken from your account immediately after the once the payment is done, the campaign becomes active. The payment will be held by BrandReach until the end of the campaign after which the payment will be paid to the Influencer.
            </p>
          </li>
          <li class="list-group-item">
            <h5> xii. What if I want to postpone/cancel a campaign?
            </h5>
            <p>You can postpone or cancel the campaign any time before the 1<sup>st</sup> post/tweet has been started by the Influencer. There will be no service fee for postponing or cancelling a campaign.</p>
          </li>
          <li class="list-group-item">
            <h5>xiii. What are the different forms of payments you accept?
            </h5>
            <p>We currently accept all Credit & Debit cards, RTGS and NEFT.
            </p>
          </li>
          <li class="list-group-item">
            <h5> xiv. Where do I see all the transactions I have done?
            </h5>
            <p>Go to <span class="red-text">Payments.</span> You will get a list of all the transactions you have done till date. You can download a copy of the invoice if you wish to.
            </p>
          </li>
          <li class="list-group-item">
            <h5> xv. Why can’t I see other Brands on BrandReach?
            </h5>
            <p>For security as well as privacy reasons, one Brand cannot see or contact another Brands.</p>
          </li>
        </ul>


      </div>
    </div>
  </div>

</div>
<script>
    $(function () {
        $('.panel-heading').click(function (e) {
            e.stopPropagation();
            var target = $(this).data('target');
            var subTarget = $(this).data('sub');

            console.log(this + ' data target with ' + target);
//            $(target).show();
//            console.log('-------------' + target + '.closed');
            if ($(target + '.closed').length > 0) {
//                ---------------slide up all------------------
                $(target).slideDown('slow');
                $(target).removeClass('closed');
            } else {
                $(target).addClass('closed');
                $(subTarget).addClass('closed');
                $(subTarget).slideUp('slow');
                $(target).slideUp('slow');
//                $(target).addClass('hide', 1000);
            }

        });
//        panel body click
        $('.panel-body').click(function (e) {
            e.stopPropagation();
            var target = $(this).data('target');
            var subTarget = $(this).data('sub');

            console.log(this + ' data target with ' + target);
//            $(target).show();
//            console.log('-------------' + target + '.closed');
            if ($(target + '.closed').length > 0) {
//                ---------------slide up all------------------
                $(target).slideDown('slow');
                $(target).removeClass('closed');
            } else {
                $(target).addClass('closed');
                $(subTarget).addClass('closed');
                $(subTarget).slideUp('slow');
                $(target).slideUp('slow');
//                $(target).addClass('hide', 1000);
            }

        });


    });
</script>