<div id="image-preview-<%= image.id %>" class="single-image-wrap">
    <%= image_tag image.image_path.url(:thumb), class: 'preview-img' %>
    <%= link_to 'x', image, :rel => 'tooltip', :title => 'remove', class: 'image-rem', remote: true,  method: :delete %>
</div>